<div class="row">
    <div class="play-video">
        <div class="video">
            <video controls autoplay>
                <source src="../../../assets/videos/video02.mp4" type="video/mp4">
            </video>
        </div>
        <div>
            <h1>♬ playlist lofi chill - bên trên tầng lầu, pháo hồng, lạc chốn hồng trần... - bie music</h1>
        </div>
        <div class="play-video-info">
            <div>
                <p href=""><img src="../../../assets/images/like.png"><a>1.3k</a></p>
                <p href=""><img src="../../../assets/images/dislike.png"><a>512</a></p>
                <p href=""><img src="../../../assets/images/share.png"><a>Share</a></p>
            </div>
            <p>37.940 lượt xem &bull; 29 thg 7, 2022</p>
        </div>
        <hr>
        <div class="plublisher">
            <img src="../../../assets/images/avatar.png">
            <div>
                <p>Hieu Nguyen Trung</p>
                <span>50k Subcribers</span>
            </div>
            <button type="button">Đăng Ký</button>
        </div>
        <div class="vid-description">
            <p>♬ playlist lofi chill - bên trên tầng lầu, pháo hồng, lạc chốn hồng trần... - bie music</p>
            <hr>
            <h2>12 Bình luận</h2>
            <div class="add-comment">
                <img src="../../../assets/images/anime.png">
                <input type="text" placeholder="Viết bình luận...">
            </div>
            <div class="old-comment">
                <img src="../../../assets/images/manga.png">
                <div>
                    <h1>Cúc Nở Hướng Dương <span>2 ngày trước</span></h1>
                    <p>In this video will make a video sharing website design like YouTube using HTML, CSS and
                        JavaScript and this website design is completely inspired by YouTube. As you can see on my
                        computer screen, this is the website design that we are going to create in this video.</p>
                    <div class="acomment-action">
                        <img src="../../../assets/images/like.png">
                        <span>5</span>
                        <img src="../../../assets/images/dislike.png">
                        <span>1</span>
                        <span>Phản hồi</span>
                        <!-- <a href="">Tất cả phản hồi</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-sidebar">
        <div class="side-video-list">
            <div class="image">
                <img src="../../../assets/imge/01.png">
            </div>
            <div class="vid-info">
                <h1>tiktok đam mỹ Conan part2</h1>
                <p>11 thg 4, 2022</p>
            </div>
        </div>
        <div class="side-video-list">
            <div class="image">
                <img src="../../../assets/imge/02.png">
            </div>
            <div class="vid-info">
                <h1>VIETSUB | 11 món BÁNH SOCOLA ngọt ngào chắc ai đó chưa được thử - Mousse socola, DreamDragon,Muffin</h1>
                <p>21 thg 5, 2022</p>
            </div>
        </div>
        <div class="side-video-list">
            <div class="image">
                <img src="../../../assets/imge/03.png">
            </div>
            <div class="vid-info">
                <h1>[MV]雪の華 - 中島 美嘉(Nakashima Mika) Cover by yurisa</h1>
                <p>24 thg 1, 2020</p>
            </div>
        </div>
        <div class="side-video-list">
            <div class="image">
                <img src="../../../assets/imge/04.png">
                </div>
            <div class="vid-info">
                <h1>KO CẦN LÒ | Cách làm MOCHI KEM ĐẬU ĐỎ MATCHA, MOCHI ĐÀO, CREPE NGÀN LỚP DÂU TÂY</h1>
                <p>14 thg 8, 2022</p>
            </div>
        </div>
        <div class="side-video-list">
            <div class="image">
                <img src="../../../assets/imge/05.png">
            </div>
            <div class="vid-info">
                <h1>[Engsub] Easy Cooking Recipes Of Some Easy-To-Make Cakes🍫#4 | Tiktok ASMR Cooking | Amazing Cakes</h1>
                <p>5 thg 8, 2022</p>
            </div>
        </div>
        <div class="side-video-list">
            <div class="image">
                <img src="../../../assets/imge/06.png">
            </div>
            <div class="vid-info">
                <h1>[生活日常ASMR] 💚💚沉浸式制冰拆冰制饮料 ##11 | Douyin</h1>
                <p>10 thg 4, 2022</p>
            </div>
        </div>
        <div class="side-video-list">
            <div class="image">
                <img src="../../../assets/imge/07.png">
            </div>
            <div class="vid-info">
                <h1>Anh không cần biết quá khứ em ngày xưa... Pháo Hồng ~ Nhạc Lofi Chill Hot Tiktok Nghe Cực Buồn</h1>
                <p>29 thg 7, 2022</p>
            </div>
        </div> 
</div>








                    <!-- <div>
    <video controls autoplay>
        <source src="../../../assets/videos/video02.mp4" type="video/mp4">
    </video>
     <i class="bi bi-hand-thumbs-up-fill"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
        <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
      </svg></i>
     
</div> -->