.row1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    // background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

.play-video {
    flex-basis: 69%;
    width: 69%;
}

.right-sidebar {
    flex-basis: 30%;
    width: 30%;
    margin-bottom: 10px;
}

.play-video {
    padding-left: 2%;
}

.play-video video {
    width: 100%;
}

.play-video h1 {
    font-weight: 600;
    font-size: 3ex;
    margin-top: 2ex;
}

.play-video .play-video-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0.5%;
    font-size: 2ex;
    color: #5a5a5a;
    margin-top: 2ex;
}

.play-video .play-video-info p img {
    width: 4ex;
    margin-left: 1%;
}

.play-video .play-video-info p {
    display: inline-flex;
    align-self: center;
    margin-left: 2ex;
}

.play-video .play-video-info p a {
    margin-left: 1ex;
    margin-top: 0.5ex;
}

.play-video hr {
    border: 0;
    height: 0.2ex;
    background: #ccc;
    margin: 1.5ex 0;
}

.side-video-list {
    width: 100%;
    display: inline-block;
    margin-bottom: 0.1ex;
    justify-content: space-between;
    //height: 150px;
    display: flex;
    margin-top: 10px;
}

.image {
    width: 40%;
    float: left;
}

.image img {
    width: 100%;
    flex-basis: 90%;
}

.vid-info {
    width: 58%;
    margin-left: 2%;
    float: right;
    flex-basis: 90%;
}

.vid-info h1 {
    font-size: 2.2ex;
    white-space: nowrap;
    width: 18rem;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15;
    font-weight: 600;
}

.vid-info p {
    color: #5a5a5a;
}

.plublisher {
    display: flex;
    align-items: center;
    margin-top: 1ex;
}

.plublisher div {
    flex: 0.2ex;
    line-height: 2.8ex;
}

.plublisher img {
    width: 7ex;
    border-radius: 50%;
    margin-right: 1ex;
}

.plublisher div p {
    color: #000;
    font-weight: 600;
    font-size: 2.8ex;
}

.plublisher div span {
    font-size: 2ex;
    color: #5a5a5a;
}

.plublisher button {
    background: red;
    color: #fff;
    padding: 1ex 2ex;
    border: 0;
    outline: 0;
    border-radius: 2ex;
    cursor: pointer;
}

.vid-description {
    padding-left: 7ex;
    margin: 2ex 0;
}

.vid-description p {
    font-size: 2.3ex;
    margin-bottom: 1ex;
    color: #5a5a5a;
}

.vid-description h2 {
    font-size: 2.3ex;
    color: #5a5a5a;
    margin-top: 2ex;
}

.add-comment {
    display: flex;
    align-items: center;
    margin: 5ex 0;
    margin-top: 1ex;
}

.add-comment img {
    width: 5ex;
    border-radius: 50%;
    margin-right: 1ex;
}

.add-comment input {
    border: 0;
    outline: 0;
    border-bottom: 0.1ex solid #ccc;
    width: 100%;
    padding-top: 1.5ex;
    background: transparent;
}

.old-comment {
    display: flex;
    align-items: center;
    margin: 7ex 0;
}

.old-comment img {
    width: 7ex;
    border-radius: 50%;
    margin-right: 1ex;
}

.old-comment h1 {
    font-size: 2ex;
    margin-bottom: 0.1ex;
}

.old-comment h1 span {
    font-size: 1.8ex;
    color: #5a5a5a;
    font-weight: 500;
    margin-left: 0.8ex;
}

.old-comment .acomment-action {
    display: flex;
    align-items: center;
    margin: 0.8ex 0;
    font-size: 2ex;
}

.old-comment .acomment-action img {
    border-radius: 0;
    width: 3ex;
    margin-right: 0.1ex;
}

.old-comment .acomment-action span {
    margin-right: 4ex;
    color: #5a5a5a;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    margin-inline: auto;
    background-color: black;
  }
  
  .video-container.theater,
  .video-container.full-screen {
    max-width: initial;
    width: 100%;
  }
  
  .video-container.theater {
    max-height: 90vh;
  }
  
  .video-container.full-screen {
    max-height: 100vh;
  }
  
  video {
    width: 100%;
  }
  
  .video-controls-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    z-index: 100;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
  
  .video-controls-container::before {
    content: "";
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, .75), transparent);
    width: 100%;
    aspect-ratio: 6 / 1;
    z-index: -1;
    pointer-events: none;
  }
  
  .video-container:hover .video-controls-container,
  .video-container:focus-within .video-controls-container,
  .video-container.paused .video-controls-container {
    opacity: 1;
  }
  
  .video-controls-container .controls {
    display: flex;
    gap: .5rem;
    padding: .25rem;
    align-items: center;
  }
  
  .video-controls-container .controls button {
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    height: 30px;
    width: 30px;
    font-size: 1.1rem;
    cursor: pointer;
    opacity: .85;
    transition: opacity 150ms ease-in-out;
  }
  
  .video-controls-container .controls button:hover {
    opacity: 1;
  }
  
  .video-container.paused .pause-icon {
    display: none;
  }
  
  .video-container:not(.paused) .play-icon {
    display: none;
  }
  
  .video-container.theater .tall {
    display: none;
  }
  
  .video-container:not(.theater) .wide {
    display: none;
  }
  
  .video-container.full-screen .open {
    display: none;
  }
  
  .video-container:not(.full-screen) .close {
    display: none;
  }
  
  .volume-high-icon,
  .volume-low-icon,
  .volume-muted-icon {
    display: none;
  }
  
  .video-container[data-volume-level="high"] .volume-high-icon {
    display: block;
  }
  
  .video-container[data-volume-level="low"] .volume-low-icon {
    display: block;
  }
  
  .video-container[data-volume-level="muted"] .volume-muted-icon {
    display: block;
  }
  
  .volume-container {
    display: flex;
    align-items: center;
  }
  
  .volume-slider {
    width: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: width 150ms ease-in-out, transform 150ms ease-in-out;
  }
  
  .volume-container:hover .volume-slider,
  .volume-slider:focus-within {
    width: 100px;
    transform: scaleX(1);
  }
  
  .duration-container {
    display: flex;
    align-items: center;
    gap: .25rem;
    flex-grow: 1;
  }
  
  .video-container.captions .captions-btn {
    border-bottom: 3px solid red;
  }
  
  .video-controls-container .controls button.wide-btn {
    width: 50px;
  }
  
  .timeline-container {
    height: 7px;
    margin-inline: .5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .timeline {
    background-color: rgba(100, 100, 100, .5);
    height: 3px;
    width: 100%;
    position: relative
  }
  
  .timeline::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--preview-position) * 100%);
    background-color: rgb(150, 150, 150);
    display: none;
  }
  
  .timeline::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--progress-position) * 100%);
    background-color: red;
  }
  
  .timeline .thumb-indicator {
    --scale: 0;
    position: absolute;
    transform: translateX(-50%) scale(var(--scale));
    height: 200%;
    top: -50%;
    left: calc(var(--progress-position) * 100%);
    background-color: red;
    border-radius: 50%;
    transition: transform 150ms ease-in-out;
    aspect-ratio: 1 / 1;
  }
  
  .timeline .preview-img {
    position: absolute;
    height: 80px;
    aspect-ratio: 16 / 9;
    top: -1rem;
    transform: translate(-50%, -100%);
    left: calc(var(--preview-position) * 100%);
    border-radius: .25rem;
    border: 2px solid white;
    display: none;
  }
  
  .thumbnail-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
  }
  
  .video-container.scrubbing .thumbnail-img {
    display: block;
  }
  
  .video-container.scrubbing .preview-img,
  .timeline-container:hover .preview-img {
    display: block;
  }
  
  .video-container.scrubbing .timeline::before,
  .timeline-container:hover .timeline::before {
    display: block;
  }
  
  .video-container.scrubbing .thumb-indicator,
  .timeline-container:hover .thumb-indicator {
    --scale: 1;
  }
  
  .video-container.scrubbing .timeline,
  .timeline-container:hover .timeline {
    height: 100%;
  }



























































@media (max-width: 100ex) {
    .play-video {
        flex-basis: 100%;
    }

    .right-sidebar {
        flex-basis: 100%;
    }

    .vid-description {
        padding-left: 0;
    }

    .play-video .play-video-info p {
        margin-left: 0;
        margin-right: 1.5ex;
        margin-top: 1.5ex;
    }
}