

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Maven Pro", sans-serif;
  }
  
  .container-fluid {
    position: fixed;
    height: 100%;
    background-image: url('../../../../assets/images/wall7.jpg');

    background-position: top center;
    background-size: cover;
    image-rendering: pixelated;
  }

  #myVideo{
    position: fixed;
  right: 0;
  bottom: 0;
  opacity: 0.28;
  min-width: 100%;
  min-height: 100%;
  }
  .nav-bar {
    height: 100px;
    min-height: 100px;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  
  }
  
  .nav {
    padding-top: 1%;
    padding-left: 3%;
    display: inline-block;
  }
  
  .nav li {
    display: inline-block;
  }
  
  .nav li a {
    color: white;
    text-decoration: none;
    line-height: 78px;
    padding: 0 30px;
    display: inline-block;
    font-weight: bold;
    font-size: larger;
  }
  

  
  .body .body-text {

  
  

    width: 30%;

    font-size: 70px;
    font-weight:830;

    font-family: Helvetica, Arial, Tahoma, sans-serif;
  }
  
  .text {
    margin-top: 8rem;
    position: absolute;
    margin-left: 7rem;
    text-transform: uppercase;
    text-shadow: 3px 3px 0px #d5d5d5, 6px 6px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: white;
    font-family: Helvetica, Arial, Tahoma, sans-serif;
  
  }
  
  button {
    margin-top: 1rem;
    height: 3.5rem;
    font-size: 25px;
    width: 10rem;
    border-radius: 30px;
    text-align: center;
    background: #642B73;
    background: -webkit-linear-gradient(to right, #C6426E, #642B73);
    background: linear-gradient(to right, #C6426E, #642B73);

    font-weight: bolder;
    color: white;

  }
  
  button:hover {
    background-color: black;
  }
  
  
  
  #content .sub-content p {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  #content .sub-content h3 {
    padding-left: 50px;
    font-size: 40px;
    margin-top: 20px;
  }
  
  .image {
    width: 40px;
    height: 40px;
    margin: 0 3px;
  }
  