<div class="container-fluid">
    <div class="nav-bar">
        <ul class="nav">
            <li>
                <img style="width:55px; height:60%; padding: 0;margin-top:
                      0px;margin-left: 20px; vertical-align: middle;" src="../../../../assets/images/logo1.png" />
            </li>
        </ul>
    </div>

    <div class="body">
        <video autoplay muted loop id="myVideo">
            <source src="https://thumbs.gfycat.com/UntimelyPotableBasilisk-mobile.mp4" type="video/mp4">
          </video>
        <div class="body-text">
            <div class="text">
                <p>NỀN TẢNG GIẢI TRÍ</p>
                <p> MIỄN PHÍ </p>
                <button class="btn" (click)="goToHomePage()">BẮT ĐẦU</button>
            </div>
            <div>
            </div>
        </div>
    </div>
</div>

