.channel-body{
  width: 100%;
  height: 700px;
  overflow: auto;
  background-color: #EEEEEE;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}
.card-profile{
  height: 150px;
  width: 100%;
  background-color: #9c0e0e;
}
.channel-main{
  height: 500px;
  width: 100%;
  background-color: #18923d;
}
