<div class="main">
    <div class="channel-body">
        <div class="card-profile">
            <div class="profile">
                <div class="row">
                    <div class=".col">
                        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" alt="Avatar" />
                    </div>
                    <div class=".col">
                        <div class="name">
                            <p class="name-user">Hieu Nguyen Trung</p>
                            <p class="num-sub">30 người đăng ký</p>
                            <div class="num-video">4 videos</div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="button-add">
                            <button type="button" class="btn btn-primary" mat-button (click)="addVideoChange()" mat-raised-button>
                Thêm video
              </button>
                            <!-- <button type="button" class="btn btn-primary" (click)="openDialog1()">Thêm video</button> -->
                        </div>
                    </div>
                </div>
                <!-- <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle"
      alt="Avatar" />
      <div class="info">
        <h3 class="name">Hieu Nguyen Trung</h3>
      </div> -->
            </div>
        </div>
        <div class="channel-main">
            <div class="row">
                <div class="col-md-auto">
                    <div class="card">
                        <div class="image-title">
                            <img class="card-img-top" src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" alt="Card image cap" />
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class=".col">
                                    <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" alt="Avatar" id="avatar" />
                                </div>
                                <div class=".col">
                                    <div class="title-v">
                                        <p class="card-title">You know like that x Bom | music</p>
                                        <p class="card-text">
                                            Hieu Nguyen Trung <br />Đã Đăng 2 năm trước
                                        </p>
                                    </div>
                                </div>

                                <div class=".col">
                                    <svg (click)="openDialog1()" xmlns="http://www.w3.org/2000/svg" width="16" height="19" fill="currentColor" class="bi bi-pencil-square" id="edit" viewBox="0 0 16 16">
                    <path
                      d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                    />
                  </svg>
                                    <br />
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="19" fill="currentColor" class="bi bi-trash" id="delete" viewBox="0 0 16 16">
                    <path
                      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                    />
                  </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-auto">
                    <div class="card">
                        <div class="image-title">
                            <img class="card-img-top" src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" alt="Card image cap" />
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class=".col">
                                    <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" alt="Avatar" id="avatar" />
                                </div>
                                <div class=".col">
                                    <div class="title-v">
                                        <p class="card-title">You know like that x Bom | music</p>
                                        <p class="card-text">
                                            Hieu Nguyen Trung <br />Đã Đăng 2 năm trước
                                        </p>
                                    </div>
                                </div>

                                <div class=".col">
                                    <!-- <p>xóa</p> -->
                                    <svg (click)="openDialog1()" xmlns="http://www.w3.org/2000/svg" width="16" height="19" fill="currentColor" class="bi bi-pencil-square" id="edit" viewBox="0 0 16 16">
                    <path
                      d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                    />
                  </svg>
                                    <br />
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="19" fill="currentColor" class="bi bi-trash" id="delete" viewBox="0 0 16 16">
                    <path
                      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                    />
                  </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-auto">
                    <div class="card">
                        <div class="image-title">
                            <img class="card-img-top" src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" alt="Card image cap" />
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class=".col">
                                    <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" alt="Avatar" id="avatar" />
                                </div>
                                <div class=".col">
                                    <div class="title-v">
                                        <p class="card-title">You know like that x Bom | music</p>
                                        <p class="card-text">
                                            Hieu Nguyen Trung <br />Đã Đăng 2 năm trước
                                        </p>
                                    </div>
                                </div>

                                <div class=".col">
                                    <!-- <p>xóa</p> -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="19" fill="currentColor" class="bi bi-pencil-square" id="edit" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
                                    <br>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="19" fill="currentColor" class="bi bi-trash" id="delete" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-auto">
                    <div class="card">
                        <div class="image-title">
                            <img class="card-img-top" src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class=".col">
                                    <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" alt="Avatar" id="avatar" />
                                </div>
                                <div class=".col">
                                    <div class="title-v">
                                        <p class="card-title">You know like that x Bom | music</p>
                                        <p class="card-text">Hieu Nguyen Trung <br>Đã Đăng 2 năm trước </p>
                                    </div>
                                </div>
                                <div class=".col">
                                    <!-- <p>xóa</p> -->
                                    <!-- <i class="bi bi-trash"></i> -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="19" fill="currentColor" class="bi bi-pencil-square" id="edit" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
                                    <br>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="19" fill="currentColor" class="bi bi-trash" id="delete" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>




            </div>
        </div>