<div class="header">
  <div class="header__left">
    <i id="menu" class="material-icons">menu</i>
    <img src="../../../assets/images/LogoFirerV.png" alt="" />
  </div>

  <div class="header__search">
    <form action="">
      <input type="text" placeholder="Search" />
      <button class="button-search"><i class="material-icons">search</i></button>
    </form>
  </div>

  <div class="header__icons">
    <!-- <i class="material-icons">videocam</i>
        <i class="material-icons">apps</i>
        <i class="material-icons">notifications</i> -->
    <img
      src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
      class="rounded-circle"
      alt="Avatar"
    />
    <span style="flex: 1 auto"></span>
    <p class="name-user">Hieu Nguyen Trung</p>
    <!-- <i class="material-icons display-this">account_circle</i> -->
  </div>
  
</div>


