<div class="header">
    <div class="header__left">
        <i id="menu" class="material-icons">menu</i>
        <img src="../../../assets/images/LogoFirerV.png" alt="" />
    </div>

    <div class="header__search">
        <form action="">
            <input type="text" placeholder="Search" />
            <button class="button-search"><i class="material-icons">search</i></button>
        </form>
    </div>

    <div class="dropdown">
        <div class="row">

            <div class=" header__icons" *ngIf="displayName">
                <img src="{{photoURL}}" class="rounded-circle" alt="Avatar" />
            </div>
            <p class="name-user">{{displayName}}</p>
        </div>
        <div class="noidung_dropdown">
            <a href="#" (click)="logout()">Logout</a>

        </div>

    </div>


    <div class="button-add">
        <button (click)="login()" class="btn btn-danger" *ngIf="!displayName">Login</button>
    </div>



</div>