<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link href='https://css.gg/search.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

  <title>Document</title>
</head>
<body>
  
</body>
</html>
<router-outlet>
  <app-subscribe></app-subscribe>
  <app-home></app-home>
<!-- 
  <app-channel></app-channel> -->
</router-outlet>
