@media only screen and (max-width: 100%) {
  .home-body {
    background-color: #283655;
  }
  .home_content{
    // background-color:#25223e;
    // opacity: 0.5;
    position: absolute;
    background-color: #283655;
  }
  .card{
    width: 80%;
  }
}
@media only screen and (max-width: 100%) {
  /* For mobile phones: */
  .col {width: 100%;}
}




// .mainInner {
//   display: table;
//   height: 100%;
//   width: 100%;
//   text-align: center;
// }

// .mainInner div {
//   display: table-cell;
//   vertical-align: middle;
//   font-size: 4em;
//   font-weight: bold;
//   letter-spacing: 1.25px;
// }
// .home_content .text{
//     color: #1d1b31;
// }
// .main {
//   position: relative;
//   padding-left: 10rem;
//   top: -25px;
//   width: 100vw;
// }

// .home-body {
//   // background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
//   // background: #355C7D;
//   // background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
//   // background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
//   top: 1%;
//   background-color:#25223e;
//   padding-left: 5rem;
//   padding-top: 1rem;
//   padding-right: 1.5rem;
//   padding-bottom: 1.5rem;
//   left: 240px;
// }

// .home-content {
//   height: 60px;
//   overflow: hidden;
// }

.home-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 12.5rem;
//   background: #bdc3c7;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background-color: #909fac;  /* fallback for old browsers */



}

.filters {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 13rem;
  padding-top: 1rem;
  background-color: #909fac;


}

.filters::-webkit-scrollbar {
  display: none;
}

.filter-options {
  flex: 0 0 auto;
  padding: 8px 25px;
  border-radius: 55px;
  background: #283655;
  border: 1px solid white;
  text-transform: capitalize;
  margin-right: 25px;
  color: white;
  font-size: 15px;
  cursor: pointer;


}

.filter-options.active {
  color: #fff;
  background: rgb(183, 183, 183);
  // font-weight: bolder;
}

.filter-options:hover {
  color: rgb(203, 203, 203);
  font-weight: bolder;
}

.filter-options:not(.active) {
  background: #ededed;
  color: rgb(138, 138, 138);
  // font-weight: bolder;
}

.profile {
  padding-top: 1rem;
  padding-left: 2%;
}

.profile img {
  width: 80px;

}

.name {
  margin-left: 1rem;

}

.name p {
  margin-bottom: 5px;
}

.name-user {
  font-size: 20px;
  font-weight: 600;
}

.num-video {
  background-color: #FEB5B5;
  padding: 0.2rem 0.7rem 0.2rem 0.7rem;
  width: fit-content;
  border-radius: 20px;
}

.col {
  margin-top: 1rem;
  margin-left: 3rem;
}

.button-add {
  text-align: end;
  margin-right: 2rem;
}

.card-img-top {
  height: 150px;
  width: 100%;

}

.image-title {
  width: 100%;
  height: 280px;
  text-align: center;

}

.card-img-top {
  width: 19rem;
  height: 180px;
  object-fit: cover;
}

.col-md-auto {
  padding-top: 1rem;
}

.card {
  width: 19rem;
  height: 280px;
}

#avatar {
  width: 40px;
}

.card-title {
  white-space: nowrap;
  width: 15rem;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 3%;
  font-size: 15;
  font-weight: 600;
}

.card-text {
  width: 100%;
  margin-left: 3%;
  font-size: 12;
  margin-top: -10px;
  word-wrap: break-word;

}

.card-body {
  width: 100%;
  height: 100%;
}

#edit {
  margin-top: 35px;
}

#delete {
  margin-top: 10px;
}

.rounded-circle {
  background-image: radial-gradient(circle, #456BD9, #456BD9 50%, transparent 50%);
  height: 2.5em;
  width: 5em;
  object-fit: cover;
}
