<div id='center' class="main center">
  <div class="mainInner">
    <div class="text">
      <div class="home-content">
        <div class="filters">
          <button class="filter-options active">Tất cả</button>
          <button class="filter-options">Thịnh hành</button>
          <button class="filter-options">Âm nhạc</button>
          <button class="filter-options">Phim</button>
          <button class="filter-options">Bóng đá</button>
          <button class="filter-options">Trực tiếp</button>
        </div>
      </div>
      <div class="home-body">
        <div class="home-main">
            <div class="col-md-auto"  *ngFor="let video of Video$ | async">
              <div class="card" (click)="playVideo(video._id)">
                <div class="image-title">
                  <img class="card-img-top" src="{{ video.image_url }}"
                    alt="Card image cap">
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class=".col">
                      <img src="{{ video.author.avatar }}"
                      class="rounded-circle"
                      alt="Avatar"
                      id="avatar"
                      (error)="handleError($event)" />
                    </div>
                    <div class=".col">
                      <div class="title-v">
                        <p class="card-title">{{ video.title }}</p>
                        <p class="card-text">{{ video.author.name }} <br>{{ video.views }} lượt xem - {{video.timeUp}} trước
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-auto">
              <div class="card">
                <div class="image-title">
                  <img class="card-img-top" src="https://o.vdoc.vn/data/image/2020/07/07/hinh-nen-son-tung-mtp-9.jpg"
                    alt="Card image cap">
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class=".col">
                      <img src="https://i.pinimg.com/564x/86/13/93/861393c6ea721f5965d44f104cdf3cfb.jpg"
                        class="rounded-circle" alt="Avatar" id="avatar" />
                    </div>
                    <div class=".col">
                      <div class="title-v">
                        <p class="card-title">CÓ CHẮC YÊU LÀ ĐÂY | OFFICIAL MUSIC VIDEO</p>
                        <p class="card-text">Sơn Tùng M-TP Official <br>154 T lượt xem
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-auto">
              <div class="card">
                <div class="image-title">
                  <img class="card-img-top" src="https://o.vdoc.vn/data/image/2020/07/07/hinh-nen-son-tung-mtp-9.jpg"
                    alt="Card image cap">
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class=".col">
                      <img src="https://i.pinimg.com/564x/86/13/93/861393c6ea721f5965d44f104cdf3cfb.jpg"
                        class="rounded-circle" alt="Avatar" id="avatar" />
                    </div>
                    <div class=".col">
                      <div class="title-v">
                        <p class="card-title">CÓ CHẮC YÊU LÀ ĐÂY | OFFICIAL MUSIC VIDEO</p>
                        <p class="card-text">Sơn Tùng M-TP Official <br>154 T lượt xem
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-auto">
              <div class="card">
                <div class="image-title">
                  <img class="card-img-top" src="https://o.vdoc.vn/data/image/2020/07/07/hinh-nen-son-tung-mtp-9.jpg"
                    alt="Card image cap">
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class=".col">
                      <img src="https://i.pinimg.com/564x/86/13/93/861393c6ea721f5965d44f104cdf3cfb.jpg"
                        class="rounded-circle" alt="Avatar" id="avatar" />
                    </div>
                    <div class=".col">
                      <div class="title-v">
                        <p class="card-title">CÓ CHẮC YÊU LÀ ĐÂY | OFFICIAL MUSIC VIDEO</p>
                        <p class="card-text">Sơn Tùng M-TP Official <br>154 T lượt xem
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-auto">
              <div class="card">
                <div class="image-title">
                  <img class="card-img-top" src="https://o.vdoc.vn/data/image/2020/07/07/hinh-nen-son-tung-mtp-9.jpg"
                    alt="Card image cap">
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class=".col">
                      <img src="https://i.pinimg.com/564x/86/13/93/861393c6ea721f5965d44f104cdf3cfb.jpg"
                        class="rounded-circle" alt="Avatar" id="avatar" />
                    </div>
                    <div class=".col">
                      <div class="title-v">
                        <p class="card-title">CÓ CHẮC YÊU LÀ ĐÂY | OFFICIAL MUSIC VIDEO</p>
                        <p class="card-text">Sơn Tùng M-TP Official <br>154 T lượt xem
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-auto">
              <div class="card">
                <div class="image-title">
                  <img class="card-img-top" src="https://o.vdoc.vn/data/image/2020/07/07/hinh-nen-son-tung-mtp-9.jpg"
                    alt="Card image cap">
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class=".col">
                      <img src="https://i.pinimg.com/564x/86/13/93/861393c6ea721f5965d44f104cdf3cfb.jpg"
                        class="rounded-circle" alt="Avatar" id="avatar" />
                    </div>
                    <div class=".col">
                      <div class="title-v">
                        <p class="card-title">CÓ CHẮC YÊU LÀ ĐÂY | OFFICIAL MUSIC VIDEO</p>
                        <p class="card-text">Sơn Tùng M-TP Official <br>154 T lượt xem
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-auto">
              <div class="card">
                <div class="image-title">
                  <img class="card-img-top" src="https://o.vdoc.vn/data/image/2020/07/07/hinh-nen-son-tung-mtp-9.jpg"
                    alt="Card image cap">
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class=".col">
                      <img src="https://i.pinimg.com/564x/86/13/93/861393c6ea721f5965d44f104cdf3cfb.jpg"
                        class="rounded-circle" alt="Avatar" id="avatar" />
                    </div>
                    <div class=".col">
                      <div class="title-v">
                        <p class="card-title">CÓ CHẮC YÊU LÀ ĐÂY | OFFICIAL MUSIC VIDEO</p>
                        <p class="card-text">Sơn Tùng M-TP Official <br>154 T lượt xem
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-auto">
              <div class="card">
                <div class="image-title">
                  <img class="card-img-top" src="https://o.vdoc.vn/data/image/2020/07/07/hinh-nen-son-tung-mtp-9.jpg"
                    alt="Card image cap">
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class=".col">
                      <img src="https://i.pinimg.com/564x/86/13/93/861393c6ea721f5965d44f104cdf3cfb.jpg"
                        class="rounded-circle" alt="Avatar" id="avatar" />
                    </div>
                    <div class=".col">
                      <div class="title-v">
                        <p class="card-title">CÓ CHẮC YÊU LÀ ĐÂY | OFFICIAL MUSIC VIDEO</p>
                        <p class="card-text">Sơn Tùng M-TP Official <br>154 T lượt xem
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-auto">
              <div class="card">
                <div class="image-title">
                  <img class="card-img-top" src="https://o.vdoc.vn/data/image/2020/07/07/hinh-nen-son-tung-mtp-9.jpg"
                    alt="Card image cap">
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class=".col">
                      <img src="https://i.pinimg.com/564x/86/13/93/861393c6ea721f5965d44f104cdf3cfb.jpg"
                        class="rounded-circle" alt="Avatar" id="avatar" />
                    </div>
                    <div class=".col">
                      <div class="title-v">
                        <p class="card-title">CÓ CHẮC YÊU LÀ ĐÂY | OFFICIAL MUSIC VIDEO</p>
                        <p class="card-text">Sơn Tùng M-TP Official <br>154 T lượt xem
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      </div>
  </div>
</div>
