
  <div *ngIf="isMinimize"  @slidein>
    <div class="container1">
        <div class="list-container">
            <div class="uyen-list">
                <div class="vid-list" *ngFor="let video of Video$ | async">
                    <a >
                        <img src="{{video.image_url}}" alt="" class="thumbnail" (click)="playVideo(video._id)">
                    </a>
                    <div class="flex-div" style="cursor:pointer;">
                        <img (error)="handleError($event)" src="{{video.author.avatar}}" alt="ava">
                        <div class="vid-info" (click)="playVideo(video._id)">
                            <a class="owner-des" >{{video.title}}</a>
                            <p class="owner-name">{{video.author.name}}</p>
                            <p *ngIf="video.hour > 24">{{video.views}} Views &bull; {{video.day}} day ago</p>
                            <p *ngIf="video.hour > 0 && video.hour < 25">{{video.views}} Views &bull; {{video.hour}}
                                hour ago</p>
                            <p *ngIf="video.hour < 1 && video.minute > 0">{{video.views}} Views &bull; {{video.minute}}
                                minute ago</p>
                            <p *ngIf="video.hour < 1 && video.minute < 1">{{video.views}} Views &bull; {{video.second}}
                                second ago</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!isMinimize" @slidein>
    <div class="large-container">
        <!-- <div class="banner">
            <img src="../../../assets/images/banner.png" alt="">
        </div> -->
        <div class="list-container">
            <div class="uyen-list">
                <div class="vid-list" *ngFor="let video of Video$ | async">
                    <a > <img src="{{video.image_url}}" class="thumbnail"  (click)="playVideo(video._id)" >
                    </a>
                    <div class="flex-div">
                        <img (error)="handleError($event)" src="{{video.author.avatar}}" alt="ava">
                        <div class="vid-info"  (click)="playVideo(video._id)">
                            <a class="owner-des" >{{video.title}}</a>
                            <p class="owner-name">{{video.author.name}}</p>
                            <p *ngIf="video.hour > 24">{{video.views}} Views &bull; {{video.day}} day ago</p>
                            <p *ngIf="video.hour > 0 && video.hour < 25">{{video.views}} Views &bull; {{video.hour}}
                                hour ago</p>
                            <p *ngIf="video.hour < 1 && video.minute > 0">{{video.views}} Views &bull; {{video.minute}}
                                minute ago</p>
                            <p *ngIf="video.hour < 1 && video.minute < 1">{{video.views}} Views &bull; {{video.second}}
                                second ago</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
