.body-pro{
  width: 100%;
  display: inline-flex;
}
.mainBody {
    height: calc(100vh - 70px);
    display: flex;
    overflow: hidden;
    float: left;
}
.main-content{
  width: 90%;
  background-color: aquamarine;
}

.sidebar {
    height: 100%;
    width: 100px;
    background-color: white;
    overflow-y: scroll;
    
}

.sidebar__categories {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
}

.sidebar__category {
    // display: flex;
    font-size: 12px;
    align-items: center;
    text-align: center;
    padding: 12px 10px;
}

// .sidebar__category span {
//     // margin-left: 15px;
// }
.sidebar__category:hover {
    background: rgb(189, 186, 186);
    color: red;
    cursor: pointer;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

hr {
    height: 1px;
    background-color: #e5e5e5;
    border: none;
}