<div class="body-pro">
<div class="mainBody">
  <!-- Sidebar Starts -->
  <div class="sidebar">
    <div class="sidebar__categories">
      <div class="sidebar__category">
        <i class="material-icons">home</i>
        <br />
        <span>Trang chủ</span>
      </div>
      <div class="sidebar__category">
        <i class="material-icons">local_fire_department</i>
        <br />
        <span>Live Stream</span>
      </div>
      <div class="sidebar__category">
        <i class="material-icons">subscriptions</i>
        <br />
        <span>Kênh của bạn</span>
      </div>
    </div>
    <hr />
    <div class="sidebar__categories">
      <div class="sidebar__category">
        <i class="material-icons">library_add_check</i>
        <br />
        <span>Kênh đăng ký</span>
      </div>
      <!-- <div class="sidebar__category">
                <i class="material-icons">history</i>
                <br>
                <span>Lịch sử</span>
            </div> -->
    </div>
    <hr />
  </div>
</div>
<div class="main-content">
  <router-outlet></router-outlet>
</div>
</div>
