<div class="mainBody">
    <div class="sidebar">
        <div class="sidebar__categories">
            <div (click)="Home()" class="sidebar__category">
                <i class="material-icons" style="color: #3e308e">home</i>
                <br />
                <span style="color: #3e308e;">Trang chủ</span>
            </div>
            <div (click)="ThinhHanh()" class="sidebar__category">
                <i class="material-icons" style="color: #ee2c25">local_fire_department</i>
                <br />
                <span style="color: #ee2c25;;">Thịnh Hành</span>
            </div>
            <div (click)="channel_page()" class="sidebar__category">
                <i class="material-icons" style="color: #f36e21;">subscriptions</i>
                <br />
                <span style="color: #f36e21;">Kênh của bạn</span>
            </div>
            <div (click)="Subscribe()" class="sidebar__category">
                <i class="material-icons" style="color: #478b90">library_add_check</i>
                <br />
                <span style="color: #478b90;">Kênh đăng ký</span>
            </div>
        </div>
    </div>
</div>