.material-icons {
    color: white;
    align-items: center;
}

.searchBoxContainer {
    width: 60%;
}

.searchBox {
    background-color: rgb(249, 249, 249);
    border-radius: 50px;
    padding: 10px;
    width: 100%;
    height: 40px;
    display: flex;
}

.searchBox>input {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: light;
    text-align: left;
    background-color: transparent;
    padding-left: 20px;
}

.searchBox:hover {
    background-color: #e1e1e1;
}

.suggestionContainer {
    visibility: hidden;
    display: none;
    position: absolute;
    background-color: rgb(245, 245, 245);
    border-radius: 15px;
    padding: 20px;
    padding-left: 30px;
    width: 59%;
    height: inherit;
    display: flex;
    flex-direction: column;
}

.itemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
}

.ideaforYou {
    margin-top: 10px;
}

.trendOnPinterest {
    margin-top: 20px;
}

.make-visible {
    visibility: visible;
}

.searchItemContainer {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.searchItemContainer .searchItem {
    background-color: rgb(218, 213, 208);
    border-radius: 40px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    padding: 12.5px 20px;
    width: inherit;
    height: 40px;
    display: flex;
    margin-right: 10px;
    cursor: pointer;
}

.searchItemContainer .searchItem:hover {
    background-color: rgb(182, 178, 174);
}

.results {
    padding: 0px;
}

.results ul {
    margin: 0;
    padding: 0;
}

.results ul li {
    list-style: none;
    border-radius: 3px;
    opacity: 0;
    display: none;
    padding: 8px 12px;
    transition: all .5s linear;
}

.show .results ul li {
    opacity: 1;
    display: block;
}

.show .results {
    padding: 10px;
}

.results ul li:hover {
    background: #ececec
}

// .header {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     height: 70px;
//     padding: 15px;
//     background: white;
// }
// .header__left {
//     display: flex;
//     align-items: center;
//     padding-left: 15px;
// }
// .header__left img {
//     width: 100px;
//     margin-right: 30px;
//     margin-top: 10px;
//     margin-left: 30px;
// }
// .header i {
//     padding: 0 7px;
//     cursor: pointer;
// }
// .header__search form {
//     border: 1px solid #ddd;
//     border-radius: 55px;
//     height: 35px;
//     margin: 0;
//     padding: 0;
//     display: flex;
// }
// .header__icons {
//     display: flex;
//   flex-direction: row;
// }
// .rounded-circle {
//     margin-top: 10px;
//     width: 30px;
//     height: 30px;
// }
// .button-add {
//     text-align: end;
//     margin-right: 2rem;
// }
// .name-user {
//     margin-top: 13px;
//     margin-left: 10px;
// }
// .header__search input {
//     width: 500px;
//     padding: 10px;
//     border-radius: 55px;
//     margin: 0;
//     border: none;
//     height: 100%;
// }
// .header__search button {
//     padding: 0;
//     border: none;
//     border-radius: 55px;
//     margin: 0;
//     height: 100%;
//     background-color: white;
// }
// .form-control-dark {
//     border-color: var(--bs-gray);
// }
// .form-control-dark:focus {
//     border-color: #fff;
//     box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
// }
// .text-small {
//     font-size: 85%;
// }
// .dropdown-toggle {
//     outline: 0;
// }
// .btn-new {
//     background-color: #FF3333;
//     border: none;
//     border-radius: 6px;
//     font-size: 17px;
//     line-height: 48px;
//     padding: 0 16px;
//     color: #ffffff;
//     font-weight: 700;
//     margin-top: 20px;
// }
// /* Nút Dropdown*/
// .nut_dropdown {
//     background-color: #0080ff;
//     color: white;
//     padding: 16px;
//     font-size: 16px;
//     border: none;
// }
// /* Thiết lập vị trí cho thẻ div với class dropdown*/
// .dropdown {
//     position: relative;
//     display: inline-block;
// }
// /* Nội dung Dropdown */
// .noidung_dropdown {
//     /*Ẩn nội dụng các đường dẫn*/
//     display: none;
//     position: absolute;
//     background-color: #f1f1f1;
//     min-width: 160px;
//     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
//     z-index: 1;
// }
// /* Thiết kế style cho các đường dẫn tronng Dropdown */
// .noidung_dropdown a {
//     color: black;
//     padding: 12px 16px;
//     text-decoration: none;
//     display: block;
// }
// /* thay đổi màu background khi hover vào đường dẫn */
// .noidung_dropdown a:hover {
//     background-color: #ddd;
// }
// /* hiển thị nội dung dropdown khi hover */
// .dropdown:hover .noidung_dropdown {
//     display: block;
// }
// /* Thay đổi màu background cho nút khi được hover */
// .dropdown:hover .nut_dropdown {
//     background-color: #00bfff;
// }
// /*Dùng Để hiển thị nội dung*/
// .hienThi {
//     display: block;
// }
// @media (max-width: 900px){
//     .header__left .material-icons{
//         display: none;
//     }
//     .dropdown img{
//         display: none;
//     }
//     .dropdown .noidung_dropdown{
//         display: block;
//         width: 30px;
//     }
//     .header__search {
//         //display: none;
//         width: 300px;
//     }
//     .header__left img{
//         width: 80px;
//     }
// }
.flex-div {
    display: flex;
    align-items: center;
}

nav {
    padding: 10px;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #121f26;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 10;
    height: 80px;
}

.nav-right {
    .action {
        position: relative;
        top: 1px;
        right: 15px;
    }
    .action .profile {
        // position: relative;
        // width: 60px;
        // height: 60px;
        // border-radius: 50%;
        overflow: hidden;
        // cursor: pointer;
    }
    .action .profile img {
        // position: absolute;
        // top: 0;
        // left: 0;
        object-fit: cover;
    }
    .action .menu {
        box-shadow: 5px 5px 5px #888888;
        position: absolute;
        top: 60px;
        right: -10px;
        padding: 10px 20px 0px 20px;
        background: whitesmoke;
        width: 200px;
        box-sizing: 0 5px 25px rgba(0, 0, 0, 1);
        border-radius: 15px;
        transition: 0.5s;
        visibility: visible;
        opacity: 1;
    }
    .action .menu::before {
        content: '';
        position: absolute;
        top: -5px;
        right: 35px;
        width: 20px;
        height: 20px;
        background: whitesmoke;
        transform: rotate(45deg);
        // border: 1px solid #888888;
    }
    .action .menu h3 {
        width: 100%;
        text-align: center;
        font-size: 18px;
        padding: 5px 0;
        font-weight: 500;
        font-size: 18px;
        color: #555;
        line-height: 1.2em;
        cursor: pointer;
    }
    .action .menu h3 span {
        font-size: 14px;
        color: #cecece;
        font-weight: 400;
        cursor: pointer;
    }
    .action .menu ul li {
        list-style-type: none;
        padding: 10px 0;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        display: flex;
        align-items: center;
    }
    .action .menu ul li img {
        max-width: 20px;
        margin-right: 10px;
        opacity: 0.5;
        transition: 0.5s;
    }
    .action .menu ul li:hover img {
        opacity: 1;
    }
    .action .menu ul li a {
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        color: #555;
        font-weight: 500;
        transition: 0.5s;
    }
    .action .menu ul li:hover a {
        color: #ff5d94;
    }
}

.nav-right img {
    width: 25px;
    margin-right: 25px;
}

.nav-right .user-icon {
    width: 35px;
    border-radius: 50%;
    margin-left: 0;
}

.nav-left .menu-icon {
    width: 22px;
    margin-right: 25px;
}

.nav-left .logo {
    width: 120px;
    margin-left: 30%;
}

.nav-middle .mic-icon {
    width: 16px;
}

.nav-middle .search-box {
    border: 1px solid #ccc;
    margin-right: 10%;
    padding: 8px 12px;
    border-radius: 25px;
}

.nav-middle .search-box input {
    width: 50rem;
    border: 0;
    outline: 0;
    background: transparent;
}

.nav-middle .search-box img {
    width: 15px;
}

@media (max-width: 100%) {
    .menu-icon {
        display: none;
    }
    .nav-right img {
        display: none;
    }
    .nav-right .user-icon {
        display: block;
        width: 30px;
    }
    .nav-middle .search-box input {
        width: 100px;
    }
    .nav-middle .mic-icon {
        display: none;
    }
    .logo {
        width: 90px;
    }
}
