<nav class="flex-div">
    <div class="nav-left flex-div">

        <img (click)="home()" src="../../../assets/images/LogoFirerV.png" alt="logo icon" class="logo">
    </div>

    <div class="nav-middle flex-div">
        <div class="search-box flex-div">
            <input style="color:white" (keydown.enter)="search($event); onFocusoutForce()" #keywords id="searchInput" type="text" placeholder="Search" (focus)="onFocus();" (focusout)="onFocusout()" (input)="keywordsChange$.next(keywords.value); " autocomplete="off"
            />
            <i class="material-icons" style="cursor:pointer;">search</i>
        </div>
        <div class="suggestionContainer" (mouseleave)="onFocusout()">
            <div [hidden]="(keywordsChange$ | async)">
                <div class="recentSearch" style="margin-bottom: 30px">
                    Tìm kiếm gần đây
                    <div class="searchItemContainer">
                        <button *ngFor="let recentSearch of recentSearchs" class="searchItem">
                          {{ recentSearch }}
                      </button>
                    </div>
                </div>


            </div>
            <div [hidden]="!(keywordsChange$ | async)">
                <div class="itemContainer">
                    <div class="item" *ngFor="let keyword of (keywordsPost$ | async)" routerLink="/search" (click)="onFocusoutForce(); changeInput(keyword.title)">
                        {{keyword.title}}
                    </div>
                </div>
            </div>
            <div [hidden]="((keywordsPost$ | async) || !(keywordsChange$ | async))">
                No result
            </div>
        </div>
    </div>




    <div class="nav-right flex-div">
        <div class="action">
            <div class="profile" *ngIf="!displayName">
                <img style="background: white" src="../../../../../../../assets/images/user.png" alt="ava" class="user-icon" (click)="login()">
            </div>
            <div class="profile" *ngIf="displayName">
                <img (error)="handleError($event)" src="{{photoURL}}" alt="ava" class="user-icon" (click)="toggleShow()">
            </div>
            <div class="menu" *ngIf="isShown" (click)="toggleShow()">
                <h3>{{displayName}}<br><span>Special Guys</span></h3>
                <ul>

                    <li (click)="logout()"><img src="../../../assets/images/logout.png" alt=""><a>Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
