.material-icons {
    color: white;
    align-items: center;
}


.flex-div{
    display: flex;
    align-items: center;
}

nav{
    // padding: 10px;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background: #121f26;
    // position: absolute;
    width: 100vw;
    top: 0;
    z-index: 10;
    height: 80px;
    position: absolute;
    // position: fixed;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.nav-right{
    .action{
        position: relative;
        top:1px;
        right:15px;
    }
    .action .profile{
        // position: relative;
        // width: 60px;
        // height: 60px;
        // border-radius: 50%;
        overflow: hidden;
        // cursor: pointer;
    }
    .action .profile img{
        // position: absolute;
        // top: 0;
        // left: 0;
        object-fit: cover;
    }
    .action .menu{
        box-shadow: 5px 5px 5px #888888;
        position: absolute;
        top: 60px;
        right: -10px;
        padding: 10px 10px 0px 0px;
        background: whitesmoke;
        width: 200px;
        box-sizing: 0 5px 25px rgba(0,0,0,1);
        border-radius: 15px;
        transition: 0.5s;
        visibility: visible;
        opacity: 1;
    }
    .action .menu::before{
        content: '';
        position: absolute;
        top: -5px;
        right: 35px;
        width: 20px;
        height: 20px;
        background: whitesmoke;
        transform: rotate(45deg);
        // border: 1px solid #888888;
    }
    .action .menu h3{
        width: 100%;
        text-align: center;
        font-size: 18px;
        padding: 5px 0;
        font-weight: 500;
        font-size: 18px;
        color: #555;
        line-height: 1.2em;
        cursor: pointer;
    }
    .action .menu h3 span{
        font-size: 14px;
        color: #cecece;
        font-weight: 400;
        cursor: pointer;
    }
    .action .menu ul li{
        list-style-type: none;
        padding: 10px 0;
        border-top: 1px solid rgba(0,0,0,0.05);
        display: flex;
        align-items: center;
    }
    .action .menu ul li img{
        max-width: 20px;
        margin-right: 10px;
        opacity: 0.5;
        transition: 0.5s;
    }
    .action .menu ul li:hover img{
        opacity: 1;
    }
    .action .menu ul li a{
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        color: #555;
        font-weight: 500;
        transition: 0.5s;
    }
    .action .menu ul li:hover a{
        color: #ff5d94;
    }
}


// .nav-right img{
//     width: 25px;
//     margin-right: 25px;
// }

.nav-right .user-icon{
    width: 50px;
    border-radius: 50%;
    // margin-left: 90%;
}

.nav-left .menu-icon{
    width: 90px;
    margin-right: 25px;
}

.nav-left .logo{
    width: 100px;
    margin-left: 45px;
}

.nav-middle .mic-icon{
    font-size:x-large;
    color:white;
}

.nav-middle .vid-icon{
    background: white;
    width: 120px;
    height: 35px;
    border-radius: 20px;
    font-size:x-large;
    // position: fixed;
    color:black;
    right: 80px;
    display: flex;
    align-items:center;
}

// .nav-middle .vid-icon p{
//     list-style: none;
//     color:black;
//     cursor: pointer;
//     font-size: 16px;
//     text-decoration: none;
//     // position: fixed;
//     align-items:center;
//     margin-top:15.5px;
//     margin-left: 35px;
// }
.nav-middle .search-box{
    border: 1px solid #ccc;
    margin-right: 4%;
    padding: 8px 12px;
    border-radius: 25px; 
}

.nav-middle .search-box input{
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
}

.nav-middle .search-box img{
    width: 15px;
}



// @media (max-width: 100%){
//     .menu-icon{
//         display: block;
//     }
//     .nav-right img{
//         display: block;
//     }
//     .nav-right .user-icon{
//         display: block;
//         width: 30px;
//     }
//     .nav-middle .search-box input{
//         width: 100px;
//     }
//     .nav-middle .mic-icon{
//         display: none;
//     }
//     button{
//         width: 100%;
//     }
//     .logo{
//         width: 90px;
//     }
// }

