@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700$display=swap');
*{
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
}

:root{
  --color-gray: #677179;
  --color-light: #B5BDD1;
  --color-blue:#0C8AFF;
  --color-white:#ffffff;
}
body{
  overflow: hidden;
  min-height: 100vh;
  font-family: "Maven Pro", sans-serif;
}

#profile{
  width: 1440px;
  min-height: 600px;
  margin: 0px auto;
  margin-top: 10px;
}
.header{
  width: 100%;
  min-height: 300px;
  background: url("https://www.desktopbackground.org/p/2015/06/06/960068_best-10-wallpaper-nature-hd-pictures-image-gallery_4000x2236_h.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_text{
  font-size: 40px;
  font-weight: bold;
  color: #B5BDD1;
  text-decoration: uppercase;
  text-shadow: 0px 4px 4px rgba(255,0,0,0.25)
}

/**/
main{
  display: flex;
}
.content_left{
  width: 40%;
  padding-bottom: 40px;
}

.user_avatar{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 15px solid #ffffff;
  margin: 0px auto;
  margin-top: -115px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_name{
  text-align:center;
  font-size:40px;
  color: black;
  font-weight:bold;
  text-transform: uppercase;
}
.user_position{
  text-align: center;
  color: black;
}
.user_analysis{
  width: 330px;
  margin: 0px auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding-bottom: 30px;
  border-bottom: 1.5px solid #121f26;
  // min-height: 75px
}
.user_analysis .item{
  text-align: center;
  color: black;
  font-weight:bold;
}

.user_desc{
  margin-top: 25px;
  padding-left: 18px;
  line-height: 30px;
  letter-spacing: 0.04rem;
  color: black;

}
.btn_connect{
  width: 240px;
  height: 45px;
  color: var(#ffffff);
  background: #121f26;
  display: flex;
  color:white;
  font-size:large;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  margin-top: 50px;
  border-radius: 50px;
}

.content_right{
  width: 60%;
  padding: 30px 60px;
  
}
.content_header{
  
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.content_menu{
  display:flex;
  
  gap: 70px;
}
.content_menu .link:first-child a{
  color: #677179;
  font-weight:bold;
}
.content_menu .link a{
  color: #B5BDD1;
  transition: 0.3s color;
}
.content_menu .link:hover a{
  color: #677179;
}
.btn_follow{
  width:120px;
  height:40px;
  background: red;
  color: #ffffff;
  border-radius: 5px;
}

.list_photos{
  width: 500px;
  height: 300px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
  background-position: center;
    background-size: cover;
    // background-repeat: no-repeat;
    // image-rendering: pixelated;

}
.list_photos .photo_item{
  // width: 500px;
  // height: 300px;
  // overflow: hidden;
  // margin-bottom: 35px;
  border-radius: 5px;
}
.list_photos .photo_item img{
  transition: 0.3s;
  width: 500px;
  // height: 10px;
}
.list_photos .photo_item:hover img{
  transform: scale(1.2);
}
.side-video-list {
  // margin-left: 10%;
  width: 80%;
  margin-bottom: 0ex;
  padding-bottom: 0ex;
  display: flex;
  // align-items: center;
}
.image {
  width: 500px;
  height: 250px;

}

.image img {
  width: 350px;
  height: 230px;
}

.vid-info {
  width: 58%;
  margin-left: 2%;
  float: right;
  flex-basis: 90%;
  // padding-bottom: 11%;
}

.vid-info h1 {
  font-size: 2.5ex;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  color: #1e1f26;
}
.vid-info p{
  margin-top: 10px;
  color: #1e1f26;
}
.content_bottom{
  margin-top:20px;
}