<div class="channel-body">
    <div class="card-profile">
        <div class="profile">
            <div class="row">
                <div class=".col">
                    <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" alt="Avatar" />
                </div>
                <div class=".col">
                    <div class="name">
                        <p class="name-user">Hieu Nguyen Trung</p>
                        <p class="num-sub">30 người đăng kí</p>
                        <div class="num-video">4 videos</div>
                    </div>
                </div>

                <div class="col">
                    <div class="button-add">
                        <button type="button" class="btn btn-danger">ĐĂNG KÝ</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="channel-content">
        <div class="tabs">
            <ul class="nav-tabs">
                <li class="active"><a href="">TRANG CHỦ</a></li>
                <li class=""><a>VIDEO</a></li>
                <li class=""><a>DANH SÁCH PHÁT</a></li>
                <li class=""><a>CỘNG ĐỒNG</a></li>
                <li class=""><a>KÊNH</a></li>
                <li class="" style="padding-top:13px; text-align:center"><a><i class="gg-search"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="channel-main">
        <div class="row">
            <div class="col-md-auto">
                <div class="card">
                    <div class="image-title">
                        <img class="card-img-top" src="../../../assets/imge/03.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class=".col">
                                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" alt="Avatar" id="avatar" />
                            </div>
                            <div class=".col">
                                <div class="title-v">
                                    <p class="card-title">You know like that x Bom | music</p>
                                    <p class="card-text">Hieu Nguyen Trung <br>Đã Đăng 2 năm trước </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-auto">
                <div class="card">
                    <div class="image-title">
                        <img class="card-img-top" src="../../../assets/imge/05.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class=".col">
                                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" alt="Avatar" id="avatar" />
                            </div>
                            <div class=".col">
                                <div class="title-v">
                                    <p class="card-title">You know like that x Bom | music</p>
                                    <p class="card-text">Hieu Nguyen Trung <br>Đã Đăng 2 năm trước </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-auto">
                <div class="card">
                    <div class="image-title">
                        <img class="card-img-top" src="../../../assets/imge/07.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class=".col">
                                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" alt="Avatar" id="avatar" />
                            </div>
                            <div class=".col">
                                <div class="title-v">
                                    <p class="card-title">You know like that x Bom | music</p>
                                    <p class="card-text">Hieu Nguyen Trung <br>Đã Đăng 2 năm trước </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-auto">
                <div class="card">
                    <div class="image-title">
                        <img class="card-img-top" src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class=".col">
                                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" alt="Avatar" id="avatar" />
                            </div>
                            <div class=".col">
                                <div class="title-v">
                                    <p class="card-title">You know like that x Bom | music</p>
                                    <p class="card-text">Hieu Nguyen Trung <br>Đã Đăng 2 năm trước </p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>




        </div>
        <div class="a" style="padding-top: 20px;border-bottom: 2px solid #ddd"></div>
    </div>