.add-video {
    position: relative;
    top: 10px;
    // left: 0px;
    width: 100vw;
    overflow: hidden;
    background: #f9f9f9;  /* fallback for old browsers */
    padding-left: 100px;
    padding-top: 1rem;

}

.card-title {
    font-weight: 700;
}

.card {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 2%;
    padding-right: 2%;
}

.form-control {
    background-color: #EEEEEE;
}

textarea {
    height: 150px;
}

.form-control-file[type=file]::file-selector-button {
    border: 2px solid #0099FF;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #0099FF;
    transition: 1s;
    border-radius: 5px;
    color: white;
}

.row {
    margin-top: 10px;
}

.col-4 {
    display: inline-flex;
}

.col-4 label {
    width: 110px;
}

#title-content {
    background-color: #EEEEEE;
    min-width: 20%;
    border-radius: 4px;
}

#state {
    background-color: #EEEEEE;
    min-width: 10%;
    border-radius: 4px;
}

#age {
    background-color: #EEEEEE;
    min-width: 20%;
    border-radius: 4px;
}

button {
    margin-left: 1%;
}