<app-side-bar></app-side-bar>
<div class="popular">
    <p class="pointer"></p>
    <div class="popular-menu">
        <div class="sidebar__category">
            <i class="material-icons" style="color: #ee2c25; font-size: 100px" >local_fire_department</i>
            <br />
            <span style="color: #240303;;">Thịnh Hành</span>
        </div>
        <div class="menu">
            <button type="button">Mới nhất</button>
            <button type="button">Âm nhạc</button>
            <button type="button">Trò chơi</button>
            <button type="button">Phim ảnh</button>
        </div>
    </div>

    <div class="row">
        <div class="video-list">
            <div class="side-video-list">
                <div class="image">
                    <img src="../../../assets/imge/01.png">
                </div>
                <div class="vid-info">
                    <h1>Tiktok đam mỹ Conan part2</h1>
                    <p>6.5tr lượt xem &bull; 11 thg 4, 2022</p>
                </div>
            </div>
            <div class="side-video-list">
                <div class="image">
                    <img src="../../../assets/imge/02.png">
                </div>
                <div class="vid-info">
                    <h1>VIETSUB | 11 món BÁNH SOCOLA ngọt ngào chắc ai đó chưa được thử - Mousse
                        socola,DreamDragon,Muffin</h1>
                    <p>6.5tr lượt xem &bull; 11 thg 4, 2022</p>
                </div>
            </div>
            <div class="side-video-list">
                <div class="image">
                    <img src="../../../assets/imge/03.png">
                </div>
                <div class="vid-info">
                    <h1>[MV]雪の華 - 中島 美嘉(Nakashima Mika) Cover by yurisa</h1>
                    <p>6.5tr lượt xem &bull; 11 thg 4, 2022</p>
                </div>
            </div>
            <div class="side-video-list">
                <div class="image">
                    <img src="../../../assets/imge/04.png">
                </div>
                <div class="vid-info">
                    <h1>KO CẦN LÒ | Cách làm MOCHI KEM ĐẬU ĐỎ MATCHA, MOCHI ĐÀO, CREPE NGÀN LỚP DÂU TÂY</h1>
                    <p>6.5tr lượt xem &bull; 11 thg 4, 2022</p>
                </div>
            </div>
            <div class="side-video-list">
                <div class="image">
                    <img src="../../../assets/imge/05.png">
                </div>
                <div class="vid-info">
                    <h1>[Engsub] Easy Cooking Recipes Of Some Easy-To-Make Cakes🍫#4 | Tiktok ASMR Cooking | Amazing
                        Cakes
                    </h1>
                    <p>6.5tr lượt xem &bull; 11 thg 4, 2022</p>
                </div>
            </div>
            <div class="side-video-list">
                <div class="image">
                    <img src="../../../assets/imge/06.png">
                </div>
                <div class="vid-info">
                    <h1>[生活日常ASMR] 💚💚沉浸式制冰拆冰制饮料 ##11 | Douyin</h1>
                    <p>6.5tr lượt xem &bull; 11 thg 4, 2022</p>
                </div>
            </div>
            <div class="side-video-list">
                <div class="image">
                    <img src="../../../assets/imge/07.png">
                </div>
                <div class="vid-info">
                    <h1>Anh không cần biết quá khứ em ngày xưa... Pháo Hồng ~ Nhạc Lofi Chill Hot Tiktok Nghe Cực Buồn
                    </h1>
                    <p>6.5tr lượt xem &bull; 11 thg 4, 2022</p>
                </div>
            </div>
            <div class="side-video-list">
                <div class="image">
                    <img src="../../../assets/imge/08.png">
                </div>
                <div class="vid-info">
                    <h1>*23* | Making Aesthetic Drinks🤤🧊制作高颜值好喝饮品💚✨</h1>
                    <p>6.5tr lượt xem &bull; 11 thg 4, 2022</p>
                </div>
            </div>
            <div class="side-video-list">
                <div class="image">
                    <img src="../../../assets/imge/09.png">
                </div>
                <div class="vid-info">
                    <h1>[Engsub] Easy Cooking Recipes Of Some Easy-To-Make Cakes🍫#14 | </h1>
                    <p>6.5tr lượt xem &bull; 11 thg 4, 2022</p>
                </div>
            </div>
            <div class="side-video-list">
                <div class="image">
                    <img src="../../../assets/imge/10.png">
                </div>
                <div class="vid-info">
                    <h1>⬛🍓Black Strawberry Latte🍓⬛ 🎨Gallery Cafe🎨 cafe vlog / ASMR 【4K】 카페 브이로그 카페 알바</h1>
                    <p>6.5tr lượt xem &bull; 11 thg 4, 2022</p>
                </div>
            </div>
            <div class="side-video-list">
                <div class="image">
                    <img src="../../../assets/imge/11.png">
                </div>
                <div class="vid-info">
                    <h1>[Nhạc Chill Us-Uk] Những Bài Hát Tiếng Anh "Cực Chill" Siêu Gây Nghiện_#33 💯</h1>
                    <p>6.5tr lượt xem &bull; 11 thg 4, 2022</p>
                </div>
            </div>
            <div class="side-video-list">
                <div class="image">
                    <img src="../../../assets/imge/01.png">
                </div>
                <div class="vid-info">
                    <h1>Tiktok đam mỹ Conan part2</h1>
                    <p>6.5tr lượt xem &bull; 11 thg 4, 2022</p>
                </div>
            </div>
            <div class="side-video-list">
                <div class="image">
                    <img src="../../../assets/imge/02.png">
                </div>
                <div class="vid-info">
                    <h1>VIETSUB | 11 món BÁNH SOCOLA ngọt ngào chắc ai đó chưa được thử - Mousse
                        socola,DreamDragon,Muffin</h1>
                    <p>6.5tr lượt xem &bull; 11 thg 4, 2022</p>
                </div>
            </div>
            <div class="side-video-list">
                <div class="image">
                    <img src="../../../assets/imge/03.png">
                </div>
                <div class="vid-info">
                    <h1>[MV]雪の華 - 中島 美嘉(Nakashima Mika) Cover by yurisa</h1>
                    <p>6.5tr lượt xem &bull; 11 thg 4, 2022</p>
                </div>
            </div>
            <div class="side-video-list">
                <div class="image">
                    <img src="../../../assets/imge/04.png">
                </div>
                <div class="vid-info">
                    <h1>KO CẦN LÒ | Cách làm MOCHI KEM ĐẬU ĐỎ MATCHA, MOCHI ĐÀO, CREPE NGÀN LỚP DÂU TÂY</h1>
                    <p>6.5tr lượt xem &bull; 11 thg 4, 2022</p>
                </div>
            </div>
            <div class="side-video-list">
                <div class="image">
                    <img src="../../../assets/imge/05.png">
                </div>
                <div class="vid-info">
                    <h1>[Engsub] Easy Cooking Recipes Of Some Easy-To-Make Cakes🍫#4 | Tiktok ASMR Cooking | Amazing
                        Cakes
                    </h1>
                    <p>6.5tr lượt xem &bull; 11 thg 4, 2022</p>
                </div>
            </div>
            <div class="side-video-list">
                <div class="image">
                    <img src="../../../assets/imge/06.png">
                </div>
                <div class="vid-info">
                    <h1>[生活日常ASMR] 💚💚沉浸式制冰拆冰制饮料 ##11 | Douyin</h1>
                    <p>6.5tr lượt xem &bull; 11 thg 4, 2022</p>
                </div>
            </div>
            <div class="side-video-list">
                <div class="image">
                    <img src="../../../assets/imge/07.png">
                </div>
                <div class="vid-info">
                    <h1>Anh không cần biết quá khứ em ngày xưa... Pháo Hồng ~ Nhạc Lofi Chill Hot Tiktok Nghe Cực Buồn
                    </h1>
                    <p>6.5tr lượt xem &bull; 11 thg 4, 2022</p>
                </div>
            </div>
            <div class="side-video-list">
                <div class="image">
                    <img src="../../../assets/imge/08.png">
                </div>
                <div class="vid-info">
                    <h1>*23* | Making Aesthetic Drinks🤤🧊制作高颜值好喝饮品💚✨</h1>
                    <p>6.5tr lượt xem &bull; 11 thg 4, 2022</p>
                </div>
            </div>
            <div class="side-video-list">
                <div class="image">
                    <img src="../../../assets/imge/09.png">
                </div>
                <div class="vid-info">
                    <h1>[Engsub] Easy Cooking Recipes Of Some Easy-To-Make Cakes🍫#14 | </h1>
                    <p>6.5tr lượt xem &bull; 11 thg 4, 2022</p>
                </div>
            </div>
            <div class="side-video-list">
                <div class="image">
                    <img src="../../../assets/imge/10.png">
                </div>
                <div class="vid-info">
                    <h1>⬛🍓Black Strawberry Latte🍓⬛ 🎨Gallery Cafe🎨 cafe vlog / ASMR 【4K】 카페 브이로그 카페 알바</h1>
                    <p>6.5tr lượt xem &bull; 11 thg 4, 2022</p>
                </div>
            </div>
            <div class="side-video-list">
                <div class="image">
                    <img src="../../../assets/imge/11.png">
                </div>
                <div class="vid-info">
                    <h1>[Nhạc Chill Us-Uk] Những Bài Hát Tiếng Anh "Cực Chill" Siêu Gây Nghiện_#33 💯</h1>
                    <p>6.5tr lượt xem &bull; 11 thg 4, 2022</p>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="sidebarbar"></div> -->
</div>