* {
    margin: 0;
    padding: 0;
}
.popular{
    margin: 0;
    padding-top: 1%;
    background: rgb(250, 247, 247);
}
.popular-menu{
    padding-left: 10%;
}
.name-icon{
    display: flex;
    align-items: center;
    margin-top: 2ex;
    padding-left: 10%;
}
.name-icon img{
    width: 10ex;
}
.name-icon p{
    font-size: 3ex;
    padding-left: 1ex;
}
.menu{
    padding-left: 8%;
    margin-top: 4%;
    font-size: 2.5ex;
    align-items: center;
    margin-top: 0.5%;
    padding-top: 2.5%;
    padding-bottom: 1%;
}
.menu a:hover{
    color:rgb(234, 158, 158);
}
.pointer {
    cursor: pointer;
}
.menu .music{
    margin-left: 2ex;   
}
.menu .game{
    margin-left: 2ex;
}
.menu .film{
    margin-left: 2ex;
}
 
.video-list{
    background: rgb(235, 228, 228);
    flex-basis: 150%; 
}
.video-list .side-video-list{
    margin-left: 10%;
    width: 60%;
    margin-bottom: 0ex;
    padding-bottom: 0ex;
    margin-top: 8px;
    display: flex;
    align-items: center;
}
.image {
    width: 40%;
   
}
.image img{
    width: 100%;  
}
.vid-info{
    width: 58%;
    margin-left: 2%;
    float: right;
    flex-basis: 90%;
}
 .vid-info h1{
     font-size: 2ex; 
     white-space: nowrap;
     //width: 5ex;
     overflow: hidden;
     text-overflow: ellipsis;
     font-weight: 600;
 }

.channel-main{
    width: 100%;
    display: inline-flex;
  }

  .channel{
    width: 100%;
    float: right;
  }
  @media (max-width: 100ex) {
    app-side-bar{
        display: none;
    }
    .popular .popular-menu{
        margin-left: 0%;
    }
    .video-list .side-video-list{
        margin-left: 1%;
    }
  }