<div class="channel-main">
  <div class="channel-sidebar">
    <app-side-bar></app-side-bar>
  </div>
  <div class="channel">
    <div class="home-body">
      <div class="home-content">
        <div class="filters">
          <button class="filter-options active">Tất cả</button>
          <button class="filter-options">Danh sách kết hợp</button>
          <button class="filter-options">Âm nhạc</button>
          <button class="filter-options">Phim</button>
          <button class="filter-options">Hoạt hình</button>
          <button class="filter-options">Học tập</button>
          <button class="filter-options">Bóng đá</button>
          <button class="filter-options">Trực tiếp</button>
          <button class="filter-options">Đề xuất</button>
          <!-- <button class="filter-options">machine learning</button>
      <button class="filter-options">trending</button> -->
        </div>
      </div>
      <div class="home-main">
        <div class="row">
          <div class="col-md-auto">
            <div class="card">
              <div class="image-title">
                <img
                  class="card-img-top"
                  src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                  alt="Card image cap"
                />
              </div>
              <div class="card-body">
                <div class="row">
                  <div class=".col">
                    <img
                      src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                      class="rounded-circle"
                      alt="Avatar"
                      id="avatar"
                    />
                  </div>
                  <div class=".col">
                    <div class="title-v">
                      <p class="card-title">You know like that x Bom | music</p>
                      <p class="card-text">
                        Hieu Nguyen Trung <br />33 N lượt xem
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="4"
                          height="4"
                          fill="currentColor"
                          class="bi bi-circle-fill"
                          viewBox="0 0 16 16"
                        >
                          <circle cx="8" cy="8" r="8" />
                        </svg>
                        34 N lượt xem
                      </p>
                    </div>
                  </div>

                  <div class=".col">
                    <!-- <p>xóa</p> -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="19"
                      fill="currentColor"
                      class="bi bi-pencil-square"
                      id="edit"
                      viewBox="0 0 16 16"
                    ></svg>
                    <br />
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="19"
                      fill="currentColor"
                      class="bi bi-trash"
                      id="delete"
                      viewBox="0 0 16 16"
                    ></svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-auto">
            <div class="card">
              <div class="image-title">
                <img
                  class="card-img-top"
                  src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                  alt="Card image cap"
                />
              </div>
              <div class="card-body">
                <div class="row">
                  <div class=".col">
                    <img
                      src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                      class="rounded-circle"
                      alt="Avatar"
                      id="avatar"
                    />
                  </div>
                  <div class=".col">
                    <div class="title-v">
                      <p class="card-title">You know like that x Bom | music</p>
                      <p class="card-text">
                        Hieu Nguyen Trung <br />Đã Đăng 2 năm trước
                      </p>
                    </div>
                  </div>

                  <div class=".col">
                    <!-- <p>xóa</p> -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="19"
                      fill="currentColor"
                      class="bi bi-pencil-square"
                      id="edit"
                      viewBox="0 0 16 16"
                    ></svg>
                    <br />
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="19"
                      fill="currentColor"
                      class="bi bi-trash"
                      id="delete"
                      viewBox="0 0 16 16"
                    ></svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-auto">
            <div class="card">
              <div class="image-title">
                <img
                  class="card-img-top"
                  src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                  alt="Card image cap"
                />
              </div>
              <div class="card-body">
                <div class="row">
                  <div class=".col">
                    <img
                      src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                      class="rounded-circle"
                      alt="Avatar"
                      id="avatar"
                    />
                  </div>
                  <div class=".col">
                    <div class="title-v">
                      <p class="card-title">You know like that x Bom | music</p>
                      <p class="card-text">
                        Hieu Nguyen Trung <br />Đã Đăng 2 năm trước
                      </p>
                    </div>
                  </div>

                  <div class=".col">
                    <!-- <p>xóa</p> -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="19"
                      fill="currentColor"
                      class="bi bi-pencil-square"
                      id="edit"
                      viewBox="0 0 16 16"
                    ></svg>
                    <br />
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="19"
                      fill="currentColor"
                      class="bi bi-trash"
                      id="delete"
                      viewBox="0 0 16 16"
                    ></svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-auto">
            <div class="card">
              <div class="image-title">
                <img
                  class="card-img-top"
                  src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                  alt="Card image cap"
                />
              </div>
              <div class="card-body">
                <div class="row">
                  <div class=".col">
                    <img
                      src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                      class="rounded-circle"
                      alt="Avatar"
                      id="avatar"
                    />
                  </div>
                  <div class=".col">
                    <div class="title-v">
                      <p class="card-title">You know like that x Bom | music</p>
                      <p class="card-text">
                        Hieu Nguyen Trung <br />Đã Đăng 2 năm trước
                      </p>
                    </div>
                  </div>

                  <div class=".col">
                    <!-- <p>xóa</p> -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="19"
                      fill="currentColor"
                      class="bi bi-pencil-square"
                      id="edit"
                      viewBox="0 0 16 16"
                    ></svg>
                    <br />
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="19"
                      fill="currentColor"
                      class="bi bi-trash"
                      id="delete"
                      viewBox="0 0 16 16"
                    ></svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-auto">
            <div class="card">
              <div class="image-title">
                <img
                  class="card-img-top"
                  src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                  alt="Card image cap"
                />
              </div>
              <div class="card-body">
                <div class="row">
                  <div class=".col">
                    <img
                      src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                      class="rounded-circle"
                      alt="Avatar"
                      id="avatar"
                    />
                  </div>
                  <div class=".col">
                    <div class="title-v">
                      <p class="card-title">You know like that x Bom | music</p>
                      <p class="card-text">
                        Hieu Nguyen Trung <br />Đã Đăng 2 năm trước
                      </p>
                    </div>
                  </div>

                  <div class=".col">
                    <!-- <p>xóa</p> -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="19"
                      fill="currentColor"
                      class="bi bi-pencil-square"
                      id="edit"
                      viewBox="0 0 16 16"
                    ></svg>
                    <br />
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="19"
                      fill="currentColor"
                      class="bi bi-trash"
                      id="delete"
                      viewBox="0 0 16 16"
                    ></svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-auto">
            <div class="card">
              <div class="image-title">
                <img
                  class="card-img-top"
                  src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                  alt="Card image cap"
                />
              </div>
              <div class="card-body">
                <div class="row">
                  <div class=".col">
                    <img
                      src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                      class="rounded-circle"
                      alt="Avatar"
                      id="avatar"
                    />
                  </div>
                  <div class=".col">
                    <div class="title-v">
                      <p class="card-title">You know like that x Bom | music</p>
                      <p class="card-text">
                        Hieu Nguyen Trung <br />Đã Đăng 2 năm trước
                      </p>
                    </div>
                  </div>

                  <div class=".col">
                    <!-- <p>xóa</p> -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="19"
                      fill="currentColor"
                      class="bi bi-pencil-square"
                      id="edit"
                      viewBox="0 0 16 16"
                    ></svg>
                    <br />
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="19"
                      fill="currentColor"
                      class="bi bi-trash"
                      id="delete"
                      viewBox="0 0 16 16"
                    ></svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-auto">
            <div class="card">
              <div class="image-title">
                <img
                  class="card-img-top"
                  src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                  alt="Card image cap"
                />
              </div>
              <div class="card-body">
                <div class="row">
                  <div class=".col">
                    <img
                      src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                      class="rounded-circle"
                      alt="Avatar"
                      id="avatar"
                    />
                  </div>
                  <div class=".col">
                    <div class="title-v">
                      <p class="card-title">You know like that x Bom | music</p>
                      <p class="card-text">
                        Hieu Nguyen Trung <br />Đã Đăng 2 năm trước
                      </p>
                    </div>
                  </div>

                  <div class=".col">
                    <!-- <p>xóa</p> -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="19"
                      fill="currentColor"
                      class="bi bi-pencil-square"
                      id="edit"
                      viewBox="0 0 16 16"
                    ></svg>
                    <br />
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="19"
                      fill="currentColor"
                      class="bi bi-trash"
                      id="delete"
                      viewBox="0 0 16 16"
                    ></svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-auto">
            <div class="card">
              <div class="image-title">
                <img
                  class="card-img-top"
                  src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                  alt="Card image cap"
                />
              </div>
              <div class="card-body">
                <div class="row">
                  <div class=".col">
                    <img
                      src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                      class="rounded-circle"
                      alt="Avatar"
                      id="avatar"
                    />
                  </div>
                  <div class=".col">
                    <div class="title-v">
                      <p class="card-title">You know like that x Bom | music</p>
                      <p class="card-text">
                        Hieu Nguyen Trung <br />Đã Đăng 2 năm trước
                      </p>
                    </div>
                  </div>

                  <div class=".col">
                    <!-- <p>xóa</p> -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="19"
                      fill="currentColor"
                      class="bi bi-pencil-square"
                      id="edit"
                      viewBox="0 0 16 16"
                    ></svg>
                    <br />
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="19"
                      fill="currentColor"
                      class="bi bi-trash"
                      id="delete"
                      viewBox="0 0 16 16"
                    ></svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-auto">
            <div class="card">
              <div class="image-title">
                <img
                  class="card-img-top"
                  src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                  alt="Card image cap"
                />
              </div>
              <div class="card-body">
                <div class="row">
                  <div class=".col">
                    <img
                      src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                      class="rounded-circle"
                      alt="Avatar"
                      id="avatar"
                    />
                  </div>
                  <div class=".col">
                    <div class="title-v">
                      <p class="card-title">You know like that x Bom | music</p>
                      <p class="card-text">
                        Hieu Nguyen Trung <br />Đã Đăng 2 năm trước
                      </p>
                    </div>
                  </div>
                  <div class=".col">
                    <!-- <p>xóa</p> -->
                    <!-- <i class="bi bi-trash"></i> -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="19"
                      fill="currentColor"
                      class="bi bi-pencil-square"
                      id="edit"
                      viewBox="0 0 16 16"
                    ></svg>
                    <br />
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="19"
                      fill="currentColor"
                      class="bi bi-trash"
                      id="delete"
                      viewBox="0 0 16 16"
                    ></svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
