<div class="container-fluid">
    <!-- <div class="main"> -->
    <div class="nav-bar">
        <ul class="nav">
            <li>
                <img style="width:55px; height:60%; padding: 0;margin-top:
                      0px;margin-left: 20px; vertical-align: middle;" src="../../../assets/images/logo1.png" />
            </li>
        </ul>
    </div>

    <!-- <img style="image-rendering:  pixelated;
          object-fit:cover;width: 150%;opacity: 0.87;

          object-fit: contain;" src="../../../assets/images/wall2.jpg" > -->

    <div class="body">
        <div class="body-text">
            <div class="text">
                <p>NỀN TẢNG GIẢI TRÍ</p>
                <p> MIỄN PHÍ </p>
                <button [routerLink]="['channel_page/home']" class="btn">BẮT ĐẦU</button>
            </div>
            <!-- <div class="but">

              </div> -->
            <div>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->