.popular {
    margin: 0;
    padding-top: 1%;
    background: #4D648D;  
}

.popular-menu {
    padding-left: 10%;
}

.sidebar__category {
    display: flex;
    align-items: center;
    margin-top: 1.5ex;
    padding-left: 10%;
}

.sidebar__category span {
    font-size: 3ex;
    padding-left: 1ex;
    margin-top: 2.5ex;
    font-weight: bolder;
    // color: #ffffff;
}

.menu {
    padding-left: 8%;
    margin-top: 4%;
    font-size: 2.5ex;
    align-items: center;
    margin-top: 0.5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.menu button:hover {
    color: #11131d;
}

.menu button {
    flex: 0 0 auto;
    padding: 8px 25px;
    border-radius: 55px;
    background: #283655;
    border: 1px solid #283655;
    text-transform: capitalize;
    margin-right: 25px;
    color: #D0E1F9;
    font-size: 15px;
    cursor: pointer;
    //box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    font-weight: bolder;
}

.menu .music {
    margin-left: 2ex;
}

.menu .game {
    margin-left: 2ex;
}

.menu .film {
    margin-left: 2ex;
}

.row{
    font-family: "Maven Pro", sans-serif;
}

.video-list {
    background: #D0E1F9;  
    flex-basis: 150%;
}

.video-list .side-video-list {
    margin-left: 17%;
    width: 60%;
    margin-bottom: 0ex;
    padding-bottom: 0ex;
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.image {
    width: 40%;

}

.image img {
    width: 100%;
}

.vid-info {
    width: 58%;
    margin-left: 1%;
    float: right;
    flex-basis: 90%;
    padding-bottom: 11%;
}

.vid-info h1 {
    font-size: 2.5ex;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    color: #1e1f26;
}
.vid-info p{
    color: #1e1f26;
}
.channel-main {
    width: 100%;
    display: inline-flex;
}

.channel {
    width: 100%;
    float: right;
}

@media (max-width: 100ex) {
    app-side-bar {
        display: none;
    }

    .popular .popular-menu {
        margin-left: 0%;
    }

    .video-list .side-video-list {
        margin-left: 1%;
    }
    .menu button {
        display: none;
    }
}