* {
    margin: 0;
    padding: 0;
    background: #D0E1F9;
}

.row1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
    font-family: "Maven Pro", sans-serif;
}

.play-video {
    flex-basis: 69%;
    width: 69%;
}

.right-sidebar {
    flex-basis: 30%;
    width: 30%;
    margin-bottom: 10px;
}

.play-video {
    padding-left: 2%;
}

.play-video video {
    width: 100%;
}

.play-video h1 {
    font-weight: 600;
    font-size: 3ex;
    margin-top: 2ex;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #1e1f26;
}

.play-video-info {
    display: flex;
    // align-items: center;
    justify-content: space-between;
    // flex-wrap: wrap;
    width: 100%;
    height: 2.5rem;
    margin-bottom: 1ex;

    // p {
    //     background-color: transparent;
    // }
}

.like-share {
    display: flex;
    justify-content: center;
}
// .sidebar__category  icon:hover {
//     color: #d0e1f9;
// }

.play-video-info .sidebar__category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    display: inline-flex;
    margin-right: 5px;
    background-color: transparent;
    cursor: pointer;
    
    i,
    span {
        background-color: transparent;
    }

    // padding-left: 3ex;
}

.play-video-info .sidebar__category span {
    font-size: 1.5ex;
    padding-left: 1ex;
    margin-top: 1.5ex;
    font-weight: bolder;
}

.play-video-info p {
    display: inline-flex;
    align-self: center;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    color: #1e1f26;
}

.play-video hr {
    border: 0;
    height: 0.2ex;
    background: rgb(111, 107, 107);
    margin: 1.5ex 0;
}

.side-video-list {
    width: 110%;
    display: inline-block;
    justify-content: space-between;
    display: flex;
    margin-top: 10px;
}

.image {
    width: 100%;
    float: right;
}

.image img {
    width: 100%;
    flex-basis: 100%;
}

.vid-info {
    width: 20%;
    margin-left: 2%;
    float: right;
    flex-basis: 100%;
}

.vid-info h1 {
    font-size: 2.2ex;
    white-space: nowrap;
    width: 25ex;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15;
    font-weight: 600;
    cursor: pointer;
    color: #1e1f26;
}

.vid-info p {
    color: #1e1f26;
    white-space: nowrap;
    cursor: pointer;
    width: 20ex;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15;
}

.plublisher {
    display: flex;
    align-items: center;
    margin-top: 1ex;
}

.plublisher div {
    flex: 0.2ex;
    line-height: 2.8ex;
}

.plublisher img {
    width: 7ex;
    border-radius: 50%;
    margin-right: 1ex;
}

.plublisher div p {
    color: #1e1f26;
    font-weight: 600;
    font-size: 2.8ex;
}

.plublisher div span {
    font-size: 2ex;
    color: #1e1f26;
}
.plublisher button:hover {
    color: #1e1f26;
}

.plublisher button {
    flex: 0 0 auto;
    padding: 8px 25px;
    border-radius: 55px;
    background: #283655;
    border: 1px solid #283655;
    text-transform: capitalize;
    margin-right: 25px;
    color: #d0e1f9;
    font-size: 15px;
    cursor: pointer;
    //box-shadow: 0 2px 4px 0 rgba(234, 148, 148, 0.4);
    font-weight: bolder;
}

.vid-description {
    padding-left: 7ex;
    margin: 2ex 0;
}

.vid-description p {
    font-size: 2.3ex;
    margin-bottom: 1ex;
    color: #1e1f26;
}

.vid-description h2 {
    font-size: 2.3ex;
    color: #1e1f26;
    margin-top: 2ex;
    display: flex;
}

.add-comment {
    display: flex;
    align-items: center;
    margin: 5ex 0;
    margin-top: 1ex;
    color: #240303;
}

.add-comment img {
    width: 5ex;
    border-radius: 50%;
    margin-right: 1ex;
}

.add-comment input {
    border: 0;
    outline: 0;
    border-bottom: 0.1ex solid #ccc;
    width: 100%;
    padding-top: 1.5ex;
    background: transparent;

}

.old-comment {
    display: flex;
    align-items: center;
    margin: 0ex 0;
}

.old-comment img {
    width: 7ex;
    border-radius: 50%;
    margin-right: 1ex;
    margin-bottom: 15ex;
}

.old-comment h1 {
    font-size: 2ex;
    padding-left: 1ex;
    margin-top: 1.5ex;
    font-weight: bolder;
    color: #000;

}

.old-comment h1 span {
    font-size: 1.8ex;
    color: #1e1f26;
    font-weight: 500;
    margin-left: 0.8ex;
    font-weight: bolder;
}

.old-comment p {
    color: #1e1f26;
}

.old-comment .acomment-action {
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    display: inline-flex;
    display: inline-flex;
}
// a.ex1:hover, a.ex1:active {color: red;}
// .like-share .sidebar__category :active {
//     color: #ae0808;
// }
.old-comment .acomment-action .sidebar__category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    display: inline-flex;
    padding-left: 2ex;
}

.old-comment .acomment-action .sidebar__category span {
    font-size: 1.5ex;
    padding-left: 1ex;
    margin-top: 1.5ex;
    font-weight: bolder;
}

.old-comment .acomment-action span {
    font-size: 2ex;
    padding-left: 2ex;
    //font-weight: bolder;
    color: #1e1f26;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    margin-inline: auto;
    background-color: black;
}

.video-container.theater,
.video-container.full-screen {
    max-width: initial;
    width: 100%;
}

.video-container.theater {
    max-height: 90vh;
}

.video-container.full-screen {
    max-height: 100vh;
}

video {
    width: 100%;
}

.video-controls-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    z-index: 100;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.video-controls-container::before {
    content: "";
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, .75), transparent);
    width: 100%;
    aspect-ratio: 6 / 1;
    z-index: -1;
    pointer-events: none;
}

.video-container:hover .video-controls-container,
.video-container:focus-within .video-controls-container,
.video-container.paused .video-controls-container {
    opacity: 1;
}

.video-controls-container .controls {
    display: flex;
    gap: .5rem;
    padding: .25rem;
    align-items: center;
}

.video-controls-container .controls button {
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    height: 30px;
    width: 30px;
    font-size: 1.1rem;
    cursor: pointer;
    opacity: .85;
    transition: opacity 150ms ease-in-out;
}

.video-controls-container .controls button:hover {
    opacity: 1;
}

.video-container.paused .pause-icon {
    display: none;
}

.video-container:not(.paused) .play-icon {
    display: none;
}

.video-container.theater .tall {
    display: none;
}

.video-container:not(.theater) .wide {
    display: none;
}

.video-container.full-screen .open {
    display: none;
}

.video-container:not(.full-screen) .close {
    display: none;
}

.volume-high-icon,
.volume-low-icon,
.volume-muted-icon {
    display: none;
}

.video-container[data-volume-level="high"] .volume-high-icon {
    display: block;
}

.video-container[data-volume-level="low"] .volume-low-icon {
    display: block;
}

.video-container[data-volume-level="muted"] .volume-muted-icon {
    display: block;
}

.volume-container {
    display: flex;
    align-items: center;
}

.volume-slider {
    width: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: width 150ms ease-in-out, transform 150ms ease-in-out;
}

.volume-container:hover .volume-slider,
.volume-slider:focus-within {
    width: 100px;
    transform: scaleX(1);
}

.duration-container {
    display: flex;
    align-items: center;
    gap: .25rem;
    flex-grow: 1;
}

.video-container.captions .captions-btn {
    border-bottom: 3px solid red;
}

.video-controls-container .controls button.wide-btn {
    width: 50px;
}

.timeline-container {
    height: 7px;
    margin-inline: .5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.timeline {
    background-color: rgba(100, 100, 100, .5);
    height: 3px;
    width: 100%;
    position: relative
}

.timeline::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--preview-position) * 100%);
    background-color: rgb(150, 150, 150);
    display: none;
}

.timeline::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--progress-position) * 100%);
    background-color: red;
}

.timeline .thumb-indicator {
    --scale: 0;
    position: absolute;
    transform: translateX(-50%) scale(var(--scale));
    height: 200%;
    top: -50%;
    left: calc(var(--progress-position) * 100%);
    background-color: red;
    border-radius: 50%;
    transition: transform 150ms ease-in-out;
    aspect-ratio: 1 / 1;
}

.timeline .preview-img {
    position: absolute;
    height: 80px;
    aspect-ratio: 16 / 9;
    top: -1rem;
    transform: translate(-50%, -100%);
    left: calc(var(--preview-position) * 100%);
    border-radius: .25rem;
    border: 2px solid white;
    display: none;
}

.thumbnail-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.video-container.scrubbing .thumbnail-img {
    display: block;
}

.video-container.scrubbing .preview-img,
.timeline-container:hover .preview-img {
    display: block;
}

.video-container.scrubbing .timeline::before,
.timeline-container:hover .timeline::before {
    display: block;
}

.video-container.scrubbing .thumb-indicator,
.timeline-container:hover .thumb-indicator {
    --scale: 1;
}

.video-container.scrubbing .timeline,
.timeline-container:hover .timeline {
    height: 100%;
}


@media (min-width: 470px) and (max-width: 660px ){
    .play-video-info {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        height: 3.5rem;
        p{
            margin: 0;
        }
    }
}

@media (max-width: 469px) {
    .play-video {
        flex-basis: 100%;
    }

    .right-sidebar {
        flex-basis: 100%;
    }

    .vid-description {
        padding-left: 0;
    }

    .play-video-info {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        height: 3.5rem;
        p{
            margin: 0;
        }
    }

    .play-video-info .sidebar__category {
        margin-left: 0ex;
    }
}