


@import url('https://fonts.googleapis.com/css?family=Varela+Round');

.material-icons {
    font-size: 26px;
    // padding-left: 40%;
    // vertical-align:center;
    // padding-right:10%;
    padding-bottom:3px;
}

html,
body {
    overflow-x: hidden;
    height: 100%;
}

body {
    background-color: #121f26;
    // padding: 0;
    // margin: 0;
    font-family: "Maven Pro", sans-serif;
}

.main {
    position: fixed;
    display: block;
    height: 100vh;
    margin-top: 60px;
}

.mainInner {
    display: table;
    height: 100%;
    width: 100%;
}

.mainInner div {
    // display: table-cell;
    // vertical-align: middle;
    
    font-size: 4em;
    font-weight: bold;
    // letter-spacing: 1.25px;
    // text-align:center;
}

#sidebarMenu {
    height: 100%;
    position: fixed;
    letter-spacing: 1.15px;
    overflow:visible;

    text-align: left;
    width: 14.5%;
   
    transition: all .5s;
    left: -170px;
   
    background: #121f26;
   
}

.sidebarMenuInner {
    margin: 0;
    margin-bottom: 5%;
    padding: 0;
    // border-top: 0.5px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li {
    padding-bottom: 2%;
    list-style: none;
    color: #fff;
    text-transform: uppercase;

    // font-weight: bold;
    padding: 15px;
    cursor: pointer;
    // border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner .nav-text {
    // position:relative;
    font-size: 26px;
    // display:table-cell;
    // padding-top: 3%;
    width:180px;
    // padding-left: 18%;
    font-family: "Maven Pro", sans-serif;
    }
.sidebarMenuInner li span {
    font-size: 18px;
    // color: white;
    margin-top: 5%;
    padding-right:10%;
}

.sidebarMenuInner li a {
    padding-bottom: 2%;
    position: relative;
    font-family: "Maven Pro", sans-serif;
    // color: #fff;
    text-transform: uppercase;
    // font-weight:800;
    cursor: pointer;
    text-decoration: none;
}
#sidebarMenu ul li:hover a{
    transition: .4s;
    font-weight:800;
    color:rgb(52, 52, 84);
}
.sidebarMenuInner li:hover {
    color:rgb(52, 52, 84);
    font-weight:800;
    // padding-left: 5%;
    // padding-left: 5%;
    transition: .4s;
    background: #cb2d3e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ef473a, #cb2d3e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.sidebarMenuInner i:hover {
    color:rgb(52, 52, 84);
    font-weight:800;
    // transition: all .5s;
    // padding-right: 5%;
    transition: .4s;
}

.sidebarMenuInner a span:hover {
    font-weight:800;
    color:rgb(52, 52, 84);
}

input[type="checkbox"]:checked~#sidebarMenu {
    transform: translateX(0);
    left: 0;
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}

.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}

.horizontal {
    transition: all .5s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}

.diagonal.part-1 {
    position: relative;
    transition: all .5s;
    box-sizing: border-box;
    float: left;
}

.diagonal.part-2 {
    transition: all .5s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}

input[type=checkbox]:checked~.sidebarIconToggle>.horizontal {
    transition: all 0.2s;
    box-sizing: border-box;
    opacity: 0;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-1 {
    transition: all 0.2s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-2 {
    transition: all 0.2s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}
.home-body {
    margin-left: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  background-color: #EEEEEE; 
  transition: all .5s;
}
#openSidebarMenu:checked ~ .home-body{
    margin-left: 16rem;
}

// #openSidebarMenu:checked ~ #sidebarMenu a span{
//     display: none;
// }


@media (max-width: 420px) {
    .sidebarMenuInner li .nav-text{
      display: none;
    }
    .sidebarMenuInner li:hover {
        height: 8%;
    }
}