<!-- <div class="sidenav">
    <div class="logo-container">
        <button class="btn-close"></button>
    </div>
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item">
            <a href="" class="sidenav-nav-link">
                <i class="sidenav-link-icon">
                    <span class="sidenav-link-text">

                    </span>
                </i>
            </a>
        </li>
    </ul>
</div>

-->
<!-- <div class="mainBody">
     Sidebar Starts 
    <div class="sidebar">
        <div class="sidebar__categories">
            <div (click)="goToHomePage()" class="sidebar__category" >
                <i class="material-icons" style="color: #3e308e">home</i>
                <br />
                <span style="color: #3e308e;">Trang chủ</span>
            </div>
            <div (click)="goToPopularPage()" class="sidebar__category">
                <i class="material-icons" style="color: #ee2c25">local_fire_department</i>
                <br />
                <span style="color: #ee2c25;;">Thịnh Hành</span>
            </div>
            <div (click)="goToChannelPage()" class="sidebar__category">
                <i class="material-icons" style="color: #f36e21;">subscriptions</i>
                <br />
                <span style="color: #f36e21;">Kênh của bạn</span>
            </div>
            <div class="sidebar__category">
                <i class="material-icons" style="color: #478b90">library_add_check</i>
                <br />
                <span style="color: #478b90;">Kênh đăng ký</span>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="mainBody">
    <div class="sidebar">
        <div class="menu">
            <i class="fa fa-bars" id ="btn" aria-hidden="true"></i>
        </div>
        <ul class="nav_list">
             <li>
                <a href="#">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input type="text" placeholder="Search.....">

                </a>
            </li> 
            <li>
                <a href="#">
                    <i class="material-icons" >home</i>
                    <span >Trang chủ</span>
                </a>
            </li>
            <br>
            <li>
                <a href="#">
                    <i class="material-icons" >local_fire_department</i>
                    <span >Thịnh Hành</span>
                </a>
            </li>
            <br>
            <li>
                <a href="#">
                    <i class="material-icons" >subscriptions</i>
                    <span >Kênh của bạn</span>
                </a>
            </li>
            <br>
            <li>
                <a href="#">
                    <i class="material-icons" >library_add_check</i>
                    <span >Kênh đăng ký</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="home_content">
    <div class="text">Home Content</div>
</div> -->
<!-- <div class="mainBody">
<nav class="main-menu">
    <ul>
        <br>
        <li class = "menu">
            <a href="http://justinfarrow.com">
                <i class="fa fa-bars"></i>
            </a>
        </li>
        <br>
        <li class="has-subnav">
            <a href="#">
                <i class="material-icons">home</i>
                <span class="nav-text">
                    Trang Chủ
                </span>
            </a>
            
        </li>
        <br>
        <li class="has-subnav">
            <a href="#">
                <i class="material-icons">local_fire_department</i>
                <span class="nav-text">
                    Thịnh Hành
                </span>
            </a>
            
        </li>
        <br>
        <li class="has-subnav">
            <a href="#">
                <i class="material-icons" >subscriptions</i>
                <span class="nav-text">
                    Kênh của bạn
                </span>
            </a>
            
        </li>
        <br>
        <li class="has-subnav">
            <a href="#">
                <i class="material-icons" >library_add_check</i>
                <span class="nav-text">
                    Kênh đăng ký
                </span>
            </a>
           
        </li>
        
    </ul>

    
</nav>
</div> -->
<!-- <div class="home_content">
    <div class="text">Home Content</div>
</div> -->
<!-- <div class="mainBody">
    <div class="header"></div>
        <input style="text-align:center" type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
        <label style="margin-top:10px" for="openSidebarMenu" class="sidebarIconToggle">
        <div class="spinner diagonal part-1"></div>
        <div class="spinner horizontal"></div>
        <div class="spinner diagonal part-2"></div>
        </label>
    
      
      <div id="sidebarMenu">
        <ul class="sidebarMenuInner">
          <li><a href="" ><i class="material-icons">home</i>Trang Chủ</a></li>
          <li><a href="" ><i class="material-icons">local_fire_department</i>Thịnh Hành</a></li>
          <li><a href="" ><i class="material-icons" >subscriptions</i>Kênh Của Bạn</a></li>
          <li><a href="" ><i class="material-icons" >library_add_check</i>Kênh Đăng Ký</a></li>
        </ul>
      </div>
      <div id='center' class="main center">
        <div class="mainInner">
          <div>PURE CSS SIDEBAR TOGGLE MENU</div>
        </div>
      </div>
    </div> -->
<div class="mainBody">
    <input style="text-align:center" type="checkbox" class="openSidebarMenu"
        id="openSidebarMenu">
    <label style="margin-top:10px" id="openSidebarMenu" for="openSidebarMenu"
        class="sidebarIconToggle" (click)="turnMenu()">
        <div class="spinner diagonal part-1"></div>
        <div class="spinner horizontal"></div>
        <div class="spinner diagonal part-2"></div>
    </label>
    <div id="sidebarMenu">
        <ul class="sidebarMenuInner">
            <li> <span class="nav-text">Trang Chủ</span><a
                    (click)="goToHomePage()"><i style="float:right;"
                        class="material-icons">home</i>
                </a>
            </li>
            <br>
            <li><span class="nav-text">Thịnh Hành</span><a
                    (click)="goToPopularPage()"><i style="float: right;"
                        class="material-icons">local_fire_department</i>

                </a></li>
            <br>
            <li> <span class="nav-text">Kênh Của Bạn</span><a
                    (click)="goToChannelPage()"><i style="float: right;"
                        class="material-icons">subscriptions</i>

                </a></li>
            <br>
            <li><span class="nav-text">Kênh Đăng Ký</span><a><i style="float:
                        right;" class="material-icons">library_add_check</i>
                </a></li>
        </ul>
    </div>
</div>
<!-- <div class="content_right">
            <h1>aaaaa</h1>
        </div> -->
<!-- <div id='center' class="main center">
            <div class="mainInner">
                
            </div>
        </div> -->
<!-- <div class="home-body">
           
                <h1>abc</h1>
            
    
            </div> -->